<div class="modal fade nav-tabs-custom" id="day_appointmentevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	<form action="events/add_appointment_event" method="POST">
            <div class="modal-body">

		<select class="form-control" id="add_appointment_event" name="add_appointment_event">
{% for ap in appointments %}
			<option value="{{ ap.id }}">{{ ap.caption }}</option>
{% endfor %}
		</select>
{% csrf_token %}
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
	</form>
        </div>
    </div>
</div>
