<div class="modal fade nav-tabs-custom" id="day_locevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                    <div role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#label" data-toggle="tab">OpenStreetMap</a></li>
                            <li><a href="#loc" data-toggle="tab">Manual</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="label">

				<label for="amenityselect">Amenity</label>
				<select size="1" id="amenityselect" class="form-control">
{% for amenity in amenities %}
					<option value="[{{ amenity.lat }}, {{ amenity.lon }}]">{{ amenity.name }}</option>
{% endfor %}
				</select>

                        </div>
                        <div class="tab-pane" id="loc">

                              
			<div id="mapselect" class="mapselect"></div>
                        
                        </div>
                    </div>

		    <div>

{% csrf_token %}
			<div id="location_event_select" data-date="{{ day.slug }}"><p style="margin-top: 1em;">Select a location or click on the map to search for events.</p></div>

                    </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addlocationevent">Add Event(s)</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>









