*.pyc
__pycache__
viewer/migrations
viewer/static/viewer/cycling.json
viewer/static/libraries
imouto/settings_local.py
index
media
static
importers
nohup.out

!static/viewer/*
!static/viewer
!viewer/static/viewer/*
!viewer/static/viewer
