*.pyc
__pycache__
viewer/migrations/__pycache__
viewer/static/viewer/cycling.json
viewer/static/viewer/script
viewer/static/libraries
static/viewer/script
static/libraries
imouto/settings_local.py
/importers
index
media
static/*
docs
build_docs
commit_docs
upload_docs
nohup.out

-static/viewer
-static/viewer/script/.gitkeep
-viewer/static/viewer/script/.gitkeep

viewer/management/commands/generate_test_pdf.py
