alabaster==0.7.12
arrow==1.2.3
asgiref==3.7.2
asn1crypto==0.24.0
attrs==23.1.0
Babel==2.9.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
caldav==1.0.1
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
clang==6.0.0.2
cryptography==42.0.4
cvxopt==1.2.7
cycler==0.11.0
dateparser==1.0.0
Django==3.2.25
django-adminlte2==0.4.1
django-background-tasks==1.2.5
django-colorfield==0.4.5
django-compat==1.0.15
django-haystack==3.0
django-macaddress==1.8.0
django-polymorphic==3.1.0
djangorestframework==3.15.2
docutils==0.17.1
entrypoints==0.3
ExifRead==2.1.2
extruct==0.16.0
fitparse==1.2.0
fonttools==4.43.0
fpdf==1.7.2
Fred-Frechet==1.9.25
furo==2023.3.27
future==0.18.3
geographiclib==1.52
geopy==1.20.0
gpsphoto==2.2.3
holidays==0.27.1
html-text==0.5.2
html5lib==1.1
icalendar==5.0.4
ics==0.7.2
idna==3.7
imagesize==1.4.1
importlib-metadata==4.13.0
importlib-resources==5.12.0
isodate==0.6.1
jdcal==1.4.1
Jinja2==3.1.4
jstyleson==0.0.2
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.4.4
lxml==4.9.3
Markdown==3.4.3
MarkupSafe==2.0.1
matplotlib==3.3.4
mf2py==1.1.3
mysqlclient==1.4.4
netaddr==0.8.0
numpy==1.21.6
oauthlib==3.2.2
olefile==0.46
opencv-python==4.7.0.68
overpy==0.6
packaging==23.1
photocollage==1.4.4
piexif==1.1.3
Pillow==10.3.0
pybind11==2.4.3
pycairo==1.20.0
pyCardDAV==0.7.0
pycparser==2.21
pycrypto==2.6.1
pygeos==0.14
Pygments==2.15.1
PyGObject==3.30.4
PyMySQL==1.1.1
pyocclient==0.4
pyparsing==3.1.1
pyRdfa3==3.6.2
python-apt==1.8.4
python-dateutil==2.8.2
python-twitter==3.5
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.26
rdflib==6.3.2
recurring-ical-events==2.0.2
regex==2020.11.13
requests==2.32.2
requests-oauthlib==1.3.1
scipy==1.10.0
SecretStorage==2.3.1
shapely==2.0.0
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.4.1
Sphinx==5.3.0
sphinx-basic-ng==1.0.0b1
sphinx-django-command==0.1.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.5.0
ssh-import-id==5.7
staticmap==0.5.7
suntimes==1.1.2
TatSu==4.4.0
typing_extensions==4.7.1
tzdata==2023.3
tzfpy==0.15.0
tzlocal==5.0.1
tzwhere==3.0.3
urllib3==2.2.2
urwid==2.1.0
vcard==0.13.0
vobject==0.9.6.1
w3lib==2.1.2
webencodings==0.5.1
Whoosh==2.7.4
wordcloud==1.8.1
x-wr-timezone==0.0.5
xmltodict==0.12.0
zipp==3.15.0
