arrow==1.3.0
asgiref==3.8.1
attrs==23.2.0
beautifulsoup4==4.12.3
bs4==0.0.1
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
dateparser==1.0.0
Django==4.2.14
django-adminlte2==0.4.3
django-appconf==1.0.6
django-colorfield==0.11.0
django-compat==1.0.15
django-haystack==3.3.0
django-imagekit==2.0.2
django-macaddress==1.8.0
django-polymorphic==3.1.0
django4-background-tasks==1.2.10
djangorestframework==3.15.2
docutils==0.17.1
ExifRead==2.1.2
extruct==0.17.0
fitparse==1.2.0
fonttools==4.53.1
frechetdist==0.6
geographiclib==1.52
geopy==1.20.0
holidays==0.27.1
html5lib==1.1
html_text==0.6.2
ics==0.7.2
idna==3.7
isodate==0.6.1
jdcal==1.4.1
jstyleson==0.0.2
kiwisolver==1.4.5
lxml==4.9.3
lxml_html_clean==0.1.1
Markdown==3.4.3
matplotlib==3.9.1
mf2py==2.0.1
mysqlclient==2.2.4
netaddr==1.3.0
numpy==2.0.0
overpy==0.6
packaging==24.1
photocollage==1.4.4
piexif==1.1.3
pillow==10.3.0
PyMySQL==1.1.1
pyparsing==3.1.2
pyRdfa3==3.6.2
python-dateutil==2.8.2
pytz==2023.3
pyxdg==0.28
rdflib==6.3.2
regex==2024.5.15
reportlab==4.2.2
requests==2.32.2
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
staticmap==0.5.7
suntimes==1.1.2
TatSu==5.12.1
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzfpy==0.15.0
tzlocal==5.2
urllib3==2.2.2
urwid==2.6.15
vobject==0.9.6.1
w3lib==2.1.2
wcwidth==0.2.13
webencodings==0.5.1
Whoosh==2.7.4
wordcloud==1.9.3
xmltodict==0.12.0
