{% load static %}

                <div class="box box-primary">
                    <div class="box-body">

    {% if data.location != None and data.geo == '' %}

                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.location.geo }}"></div>

    {% elif data.locations.count > 1 %}

                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.locations_geo }}"></div>

    {% else %}

        {% if data.description == '' and data.photos.count == 0 %}
                        <div id="map{{ data.pk }}" class="journeyeventmap eventmap" data-geojson="{{ data.geo }}"></div>
        {% else %}
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
        {% endif %}

    {% endif %}

                    </div>
                </div>

