{% load static %}


                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
{% if data.show_hearttab %}
                        <li class="active"><a href="#tab-event-heart" data-toggle="tab"><i class="fa fa-heartbeat"></i></a></li>
                        <li><a href="#tab-event-timing" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
{% else %}
                        <li class="active"><a href="#tab-event-timing" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
{% endif %}
{% if data.show_elevationtab %}
                        <li><a href="#tab-event-height" data-toggle="tab"><i class="fa fa-arrows-v"></i></a></li>
{% endif %}
                    </ul>
                    <div class="tab-content">
{% if data.show_hearttab %}
                        <div class="active tab-pane" id="tab-event-heart">

                            <ul class="list-group list-group-unbordered">

{% if data.health.heartavg != None %}
                                <li class="list-group-item"><b>Average bpm</b><span class="pull-right">{{ data.health.heartavg }}</span></li>
{% endif %}
{% if data.health.heartmax != None %}
                                <li class="list-group-item"><b>Highest bpm</b><span class="pull-right">{{ data.health.heartmax }}</span></li>
{% endif %}
{% if data.health.heartavgprc != None %}
                                <li class="list-group-item"><b>Average % of max</b><span class="pull-right">{{ data.health.heartavgprc }}%</span></li>
{% endif %}
{% if data.health.heartmaxprc != None %}
                                <li class="list-group-item"><b>Highest % of max</b><span class="pull-right">{{ data.health.heartmaxprc }}%</span></li>
{% endif %}
{% if data.health.heartoptimaltime != None %}
                                <li class="list-group-item"><b>Time in optimal zone</b><span class="pull-right">{{ data.health.heartoptimaltime }}</span></li>
{% endif %}

                            </ul>
{% if data.health.heartzonetime != None %}
                            <div class="chart">
                                <canvas class="donut-chart" data-data="{{ data.health.heartzonetime|escape }}" data-labels="[&quot;No zone&quot;, &quot;above 50% of max&quot;, &quot;above 70% of max&quot;]"></canvas>
                            </div>
{% endif %}

                        </div>
{% endif %}
                        <div class="{% if data.show_hearttab == False %}active {% endif %}tab-pane" id="tab-event-timing">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item"><b>Total time</b><span class="pull-right">{{ data.length_string }}</span></li>
{% if data.health.speedmoving != None %}
                                <li class="list-group-item"><b>Moving time</b><span class="pull-right">{{ data.health.speedmoving }}</span></li>
{% endif %}
{% if data.health.speedavg != None %}
                                <li class="list-group-item"><b>Average speed</b><span class="pull-right">{{ data.health.speedavg }}mph</span></li>
{% endif %}
{% if data.health.speedavgmoving != None %}
                                <li class="list-group-item"><b>Average moving speed</b><span class="pull-right">{{ data.health.speedavgmoving }}mph</span></li>
{% endif %}
{% if data.health.speedmax != None %}
                                <li class="list-group-item"><b>Maximum speed</b><span class="pull-right">{{ data.health.speedmax }}mph</span></li>
{% endif %}
                            </ul>
			</div>
{% if data.show_elevationtab %}
                        <div class="tab-pane" id="tab-event-height">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item"><b>Elevation gain</b><span class="pull-right">{{ data.health.elevgain }}m</span></li>
                                <li class="list-group-item"><b>Elevation loss</b><span class="pull-right">{{ data.health.elevloss }}m</span></li>
                                <li class="list-group-item"><b>Minimum elevation</b><span class="pull-right">{{ data.health.elevmin }}m</span></li>
                                <li class="list-group-item"><b>Maximum elevation</b><span class="pull-right">{{ data.health.elevmax }}m</span></li>
                            </ul>
                        </div>
{% endif %}
                    </div>
                </div>
