{% load static %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create New Event</h3>
                    </div>
                    <div class="box-body">
                      <div>

                              <a class="btn btn-app" data-toggle="modal" data-target="#admin_event_add" aria-hidden="true" href="#"><i class="fa fa-calendar"></i>Event</a>
                              <a class="btn btn-app" data-toggle="modal" data-target="#life_period_add" aria-hidden="true" href="#"><i class="fa fa-clock-o"></i>Era</a>

                      </div>
                    </div>
                </div>
		
