{% load static %}

        
{% if event.type == 'life_event' %}

                <div>

  {% if event.cover_photo %}
                    <div class="pull-right"><img class="img-bordered" src="photo/{{ event.cover_photo.pk }}_thumb.jpg" width="100" height="100"/></div>
  {% endif %}
{% else %}
            {% if event.geo == '' %}
                {% if event.location %}
                    {% if event.location.image %}
                        <img class="pull-right" src="places/{{ event.location.uid }}_thumb.jpg">
                    {% endif %}
                {% endif %}
            {% else %}
                <div id="map{{ event.pk }}" class="eventmap" data-geojson="{{ event.geo }}"></div>
            {% endif %}

                <div{% if event.geo == '' %}{% if event.location %}{% if event.location.image %} style="margin-right: 120px;"{% endif %}{% endif %}{% endif %}>

                    <div class="timeline-gallery">
                        {% for photo in event.photos %}{% if forloop.counter <= 5 %}
                            {% include 'viewer/cards/image.html' %}
                        {% endif %}{% endfor %}
                    </div>
{% endif %}
                    {% if event.description != '' %}{{ event.description_html|safe }}{% endif %}
{% if event.type != 'life_event' %}                
                    {% if event.people.count > 0 %}
                    <div class="timeline-people-row">
                    {% for person in event.people.all %}
                        {% if person.image %}
                        <a href="#person_{{ person.uid }}"><img src="people/{{ person.uid }}_thumb.jpg" width="50" height="50" alt="{{ person.full_name }}"></a>
                        {% endif %}
                    {% endfor %}
                    {% for person in event.people.all %}
                        {% if person.image == None %}
                        <a href="#person_{{ person.uid }}"><img src="{% static "viewer/graphics/unknown_person.jpg" %}" width="50" height="50" alt="{{ person.full_name }}"></a>
                        {% endif %}
                    {% endfor %}
                    </div>
                    {% endif %}
{% endif %}
                    
                    {% if event.people.count == 0 and event.description == '' and event.photos.count == 0 and event.geo == '' %}
                        {% if event.location %}
                            <p>{{ event.length_string }} spent in/at {{ event.location.label }}.</p>
                        {% else %}
                            <p>No further information exists about this event.</p>
                        {% endif %}
                    {% endif %}

                    {% if event.tags.count > 0 %}
                        <div>{% for tag in event.tags.all %}<a href="#tag_{{ tag.id|safe }}"><span style="background-color: {{ tag.colour }};" class="badge">{{ tag.id }}</span></a> {% endfor %}</div>
                    {% endif %}

                    
                </div>
