<div class="modal fade nav-tabs-custom" id="day_locevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">


                              
			<div id="mapselect" class="mapselect"></div>
{% csrf_token %}
			<div id="location_event_select" data-date="{{ stats.cur }}"><p>Select a point on the map to search for location events.</p></div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addlocationevent">Add Event(s)</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

