{% load static %}
{% load tz %}

{% localtime off %}
        
                {% if event.location %}
                    {% if event.location.image %}
                        <img class="pull-right" src="places/{{ event.location.uid }}_thumb.jpg">
                    {% endif %}
                {% endif %}

                <div{% if event.location %}{% if event.location.image %} style="margin-right: 120px;"{% endif %}{% endif %}>

{% if event.health.sleep != None %}


                        <div>
                            <span>{{ event.health.sleep.start_friendly }}</span>
                            <span class="pull-right">{{ event.health.sleep.end_friendly }}</span>
                        </div>
                        <div class="progress-group">
                            <div class="progress sleep-bar">
                        
        {% for bar in event.health.sleep.data %}

                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ bar.2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar.2 }}%; background-color: {% if bar.0 == 0 %}rgba(0, 0, 0, 0){% endif %}{% if bar.0 == 1 %}#ABC1D8{% endif %}{% if bar.0 == 2 %}#3C8DBC{% endif %};"></div>

        {% endfor %}

                            </div>
                        </div>

                             
{% endif %}
                {% if event.location %}

			<p>{{ event.length_string }} sleeping at {{ event.location.label }}</p>

                {% endif %}
                
                    
                </div>

{% endlocaltime %}
