{% load static %}
{% if event.value == 'sunrise' %}

	        <div class="callout callout-warning">
	          <table>
	            <td valign="top"><i class="fa fa-sun-o"></i>&nbsp;</td>
	            <td valign="top">Sunrise at {{ event.time|date:"g:ia" }}</td>
	          </table>
	        </div>

{% endif %}
{% if event.value == 'sunset' %}

	        <div class="callout callout-warning">
	          <table>
	            <td valign="top"><i class="fa fa-moon-o"></i>&nbsp;</td>
	            <td valign="top">Sunset at {{ event.time|date:"g:ia" }}</td>
	          </table>
	        </div>

{% endif %}
