{% load static %}

                      <div class="text-center" style="margin-bottom: 1em;">
                        <div class="btn-group">
                            <a href="#{{ year.previous.slug }}" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i>&nbsp;Previous</a>
{% if year.next %}
                            <a href="#{{ year.next.slug }}" class="btn btn-default">Next&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
{% else %}
                            <a href="#{{ year.next.slug }}" class="btn btn-default" disabled>Next&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
{% endif %}
                        </div>
                      </div>

