            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Countries visited</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">
{% for country in countries %}
                                <tr>
                                        <td><a href="#{{ country.slug }}"><b>{{ country }}</b></a></td>
                                        <td><span class="pull-right">{{ country.national_flag }}</span></td>
                                </tr>
{% endfor %}
                        </table>

                </div>
            </div>
