{% extends 'adminlte/lib/_main_sidebar.html' %}

{% block user_panel %}{% endblock user_panel %}

{% block nav_links_ul %}

    <ul class="sidebar-menu">

      <li class="header">VIEWS</li>
      <li><a class="viewlink" href="#"><i class="fa fa-dashboard"></i> <span>Summary</span></a></li>
      <li>
          <a class="viewlink" href="#"><i class="fa fa-heart"></i> <span>Health</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
          <ul class="treeview-menu">
              <li><a href="#health-weight"><i class="fa fa-balance-scale"></i> Weight</a></li>
              <li><a href="#health-heart"><i class="fa fa-heartbeat"></i> Heart</a></li>
              <li><a href="#health-blood"><i class="fa fa-tint"></i> Blood Pressure</a></li>
              <li><a href="#health-sleep"><i class="fa fa-bed"></i> Sleep</a></li>
              <li><a href="#health-exercise"><i class="fa fa-bicycle"></i> Exercise</a></li>
              <li><a href="#health-mentalhealth"><i class="fa fa-commenting-o"></i> Mental Health</a></li>
          </ul>
      </li>
      <li><a class="viewlink" href="#timeline"><i class="fa fa-clock-o"></i> <span>Timeline</span></a></li>
      <li><a class="viewlink" href="#onthisday"><i class="fa fa-birthday-cake"></i> <span>On This Day</span></a></li>
      <li><a class="viewlink" href="#reports"><i class="fa fa-newspaper-o"></i> <span>Reports</span></a></li>
      <li><a class="viewlink" href="#life-grid"><i class="fa fa-calendar"></i> <span>Life Grid</span></a></li>
      <li class="header">CATEGORIES</li>
      <li><a class="sectionlink" href="#events"><i class="fa fa-calendar-o"></i> <span>Events</span></a></li>
      <li><a class="sectionlink" href="#places"><i class="fa fa-map-marker"></i> <span>Places</span></a></li>
      <li><a class="sectionlink" href="#people"><i class="fa fa-user-o"></i> <span>People</span></a></li>
      <li><a class="sectionlink" href="#tags"><i class="fa fa-tag"></i> <span>Tags</span></a></li>
      <li class="header">DATA</li>
      <li><a class="sectionlink" href="#files"><i class="fa fa-file"></i> <span>Upload</span></a></li>

    </ul>
    
{% endblock nav_links_ul %}
