{% load static %}

<section class="content-header">
    <h1>
        Mental Health
        <small>Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Health</a></li>
        <li>Mental Health</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="box box-primary">
                    <div class="box-header">
			<h3 class="box-title">Previous HADS Results</h3>
			<div class="box-tools">
				<a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#data_hads_add" aria-hidden="true" href="#"><i class="fa fa-plus"></i></a>
			</div>
                    </div>
                    <div class="box-body table-responsive no-padding">

			<table class="table table-hover">
				<tr>
					<th>Date</th>
					<th>Anxiety</th>
					<th>Depression</th>
				</tr>
{% for item in data %}
				<tr>
					<td>
						<a href="#day_{{ item.date|date:"Ymd" }}">
						<span class="hidden-lg">{{ item.date|date:"Y-m-d H:i" }}</span>
						<span class="hidden-xs visible-lg">{{ item.date|date:"l jS F Y, g:ia" }}</span>
						</a>
                                        </td>
					<td>{{ item.anxiety }}{% if item.anxiety >= 11 %}&nbsp;<i class="fa fa-warning text-danger"></i>{% else %}{% if item.anxiety >= 8 %}&nbsp;<i class="fa fa-question-circle text-warning"></i>{% endif %}{% endif %}</td>
					<td>{{ item.depression }}{% if item.depression >= 11 %}&nbsp;<i class="fa fa-warning text-danger"></i>{% else %}{% if item.depression >= 8 %}&nbsp;<i class="fa fa-question-circle text-warning"></i>{% endif %}{% endif %}</td>
				</tr>
{% endfor %}

			</table>

                    </div>
                </div>

            </div>
     </div>
</section>

<div class="modal fade nav-tabs-custom" id="data_hads_add" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">

				<p>In the last seven days...</p>

				<p><strong id="quiz-question"></strong></p>

				<form>
					<input type="hidden" name="question-type" id="hads-question-type" value="">
					<div class="form-group">
						<div class="radio">
							<label>
								<input type="radio" name="hads-radio" id="hads-radio-0" value="1">
								<span id="quiz-answer-0"></span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="hads-radio" id="hads-radio-1" value="1">
								<span id="quiz-answer-1"></span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="hads-radio" id="hads-radio-2" value="1">
								<span id="quiz-answer-2"></span>
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="hads-radio" id="hads-radio-3" value="1">
								<span id="quiz-answer-3"></span>
							</label>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="data-next-button">Continue</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>




