<section class="content-header">
    <h1>
        People
    </h1>
    <ol class="breadcrumb">
        <li>People</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">


                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-people-recent" data-toggle="tab">Summary</a></li>
                        <li><a href="#tab-people-all" data-toggle="tab">All People</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-people-recent">
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="box box-widget">
					<div class="box-header with-border"><h4 class="box-title">Commonly encountered people</h4></div>
					<div class="box-body">

			                        <p>
			                            <ul class="products-list product-list-in-box">
                                
{% for person in data.recent_by_days %}
                                
			                                <li class="item">
			                                    <div class="product-img">
			                                        {% if person.image %}<img src="people/{{ person.uid }}_thumb.jpg"/>{% endif %}
			                                    </div>
			                                    <div class="product-info">
			                                        <a class="product-title personlink" href="#person_{{ person.uid }}">
			                                            {{ person.full_name }}</a>
			                                        <span class="product-description">
			                                            Met {{ person.days }} days in the last 12 months</span>
			                                    </div>
			                                </li>
                                
{% endfor %}
	                                
			                            </ul>
			                        </p>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="box box-widget">
					<div class="box-header with-border"><h4 class="box-title">Recently encountered people</h4></div>
					<div class="box-body">

			                        <p>
			                            <ul class="products-list product-list-in-box">
                                
{% for person in data.recent_by_last_seen %}
                                
			                                <li class="item">
			                                    <div class="product-img">
			                                        {% if person.image %}<img src="people/{{ person.uid }}_thumb.jpg"/>{% endif %}
			                                    </div>
			                                    <div class="product-info">
			                                        <a class="product-title personlink" href="#person_{{ person.uid }}">
			                                            {{ person.full_name }}</a>
			                                        <span class="product-description">
			                                            Last met {{ person.last_seen|date:"l jS F Y" }}</span>
			                                    </div>
			                                </li>
                                
{% endfor %}
	                                
			                            </ul>
			                        </p>

					</div>
				</div>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="box box-widget">
					<div class="box-header with-border"><h4 class="box-title">Recent Phone Calls</h4></div>
					<div class="box-body">

			                        <p>
			                            <ul class="products-list product-list-in-box">
                                
{% for person in data.calls|slice:":5" %}
                                
			                                <li class="item">
			                                    <div class="product-img">
			                                        {% if person.0.image %}<img src="people/{{ person.0.uid }}_thumb.jpg"/>{% endif %}
			                                    </div>
			                                    <div class="product-info">
			                                        <a class="product-title personlink" href="#person_{{ person.0.uid }}">
			                                            {{ person.0.full_name }}</a>
			                                        <span class="product-description">
			                                            {{ person.1 }} calls in the last 12 months</span>
			                                    </div>
			                                </li>
                                
{% endfor %}
	                                
			                            </ul>
			                        </p>

					</div>
				</div>
				<div class="box box-widget">
					<div class="box-header with-border"><h4 class="box-title">Recent Messages</h4></div>
					<div class="box-body">

			                        <p>
			                            <ul class="products-list product-list-in-box">
                                
{% for person in data.messages|slice:":5" %}
                                
			                                <li class="item">
			                                    <div class="product-img">
			                                        {% if person.0.image %}<img src="people/{{ person.0.uid }}_thumb.jpg"/>{% endif %}
			                                    </div>
			                                    <div class="product-info">
			                                        <a class="product-title personlink" href="#person_{{ person.0.uid }}">
			                                            {{ person.0.full_name }}</a>
			                                        <span class="product-description">
			                                            {{ person.1 }} messages in the last 12 months</span>
			                                    </div>
			                                </li>
                                
{% endfor %}
	                                
			                            </ul>
			                        </p>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="box box-widget">
					<div class="box-header with-border"><h4 class="box-title">Most Photographed</h4></div>
					<div class="box-body">

			                        <p>
			                            <ul class="products-list product-list-in-box">
                                
{% for person in data.photos %}
                                
			                                <li class="item">
			                                    <div class="product-img">
			                                        {% if person.image %}<img src="people/{{ person.uid }}_thumb.jpg"/>{% endif %}
			                                    </div>
			                                    <div class="product-info">
			                                        <a class="product-title personlink" href="#person_{{ person.uid }}">
			                                            {{ person.full_name }}</a>
			                                        <span class="product-description">
			                                            {{ person.photo_count }} photos in the last 12 months</span>
			                                    </div>
			                                </li>
                                
{% endfor %}
	                                
			                            </ul>
			                        </p>


					</div>
				</div>
			</div>
			</div>
                        </div>

                        <div class="tab-pane" id="tab-people-all">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for person in data.all %}
{% if person.days > 0 %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if person.image %}<img src="people/{{ person.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#person_{{ person.uid }}">
                                            {{ person.full_name }}</a>
                                        <span class="product-description">
                                            Last met {{ person.last_seen|date:"l jS F Y" }}, {{ person.days }} encounters total.</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>


                    </div>
                </div>
            
            </div>
        </div>
    </div>

</section>
