.content-wrapper
{
    background-image: url("../graphics/trento.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content-header
{
    background: rgba(255, 255, 255, 0.5) !important;
    padding-top: 7.5px !important;
    padding-bottom: 7.5px !important;
}

.content-header .breadcrumb { top: 7.5px !important; }

.main-footer
{
    background: #222d32 !important;
    color: #FFFFFF !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#places_map, #journey-map, #mapselect
{
    height: 20em !important;
    width: 100%;
}

#mapselect { cursor: crosshair; }

.box-image span
{
    display: inline-block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 20em !important;
    width: 100%;
}

.journeyeventmap { min-height: 480px !important; }
.reportmap { height: 100px !important; margin-bottom: 1em; }
.eventmap { min-height: 250px; }

.message-outgoing { padding-left: 3em; }
.message-incoming { padding-right: 3em; }

.box-event-banner
{
    background-size: cover;
}

.box-event-banner .box-body
{
    min-height: 250px !important;
    overflow-y: hide;
    color: #FFFFFF;
    text-shadow: 0 0 0.2em #000000;
}

.box-event-banner .box-body .bottom-cling
{
    padding-top: 100px;
    position: absolute;
    bottom: 0;
}

.timeline-body
{
    min-height: 120px;
}

.timeline-people-row
{
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.post .user-block span.no-image
{
    margin-left: 0px !important;
}

.sleep-bar
{
    overflow: hidden;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0px;
    border: solid 2px #CFCFCF;
}

.sleep-bar .progress-bar
{
    border-radius: 0px;
}

.search-results
{
	margin-left: 1em;
        overflow-x: hidden;
}

.time-label a { color: #FFFFFF; }
.info-box-content a { color: #000000; text-decoration: underline; }

.scatter-chart { max-height: 160px; }

.info-box-content { overflow-x: hidden; }
.info-box-number { white-space: nowrap; }
.imitation-search-item { display: block; padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px; }

.event_image_select img
{
    margin-top: 5px;
    margin-right: 5px;
    border: solid 1px #000000;
}

.life_grid th {
	font-size: small;
	padding-right: 2em;
}

.life_grid td {
	min-width: 1em;
	border: 1px solid #000000;
}

td.fc-day-number {
	cursor: pointer;
}
td.fc-day-number:hover {
	background-color: var(--win-hover-bgcolor) !important;
}

tr.founddata td {
	cursor: pointer;
}

div.barsleeppattern {
	min-width: 150px;
}

p.map-bubble-text {
	font-size: 1.5em;
}
