{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Country</small>
    </h1>
    
    <ol class="breadcrumb">
        <li>Countries</li>
        <li>{{ data.label }}</li>
    </ol>
    
</section>

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box box-primary">
                    <div class="box-body box-profile">
			<h3 class="profile username text-center">{{ data.label }}</h3>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">

{% with description=data.description_html %}
{% if description %}

	                <div class="box box-primary">
	                    <div class="box-body">
				{{ description|safe }}
				<p>See <a href="{{ data.wikipedia }}">Wikipedia</a> for more information.</p>
	                    </div>
	                </div>

{% endif %}
{% endwith %}

	    </div>
	</div>

    </div>

</section>

