{% load static %}

<section class="content-header">
    <h1>
        Summary
        <small>Home</small>
    </h1>
    <ol class="breadcrumb">
        <li>Summary</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">

	<div class="row">

{% for col in user.profile.dashboard %}

		<div class="col-xs-{{ user.profile.dashboard_column_width }}">

	{% for panel in col %}

			<div class="dynamic-card" data-path="dashboard/{{ panel }}.html"></div>

	{% endfor %}

		</div>

{% endfor %}

	</div>

    </div>

</section>
