{% load static %}
{% load tz %}
{% load class_tag %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Day</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li><a href="#year_{{ day.month.year }}">{{ day.month.year }}</a></li>
        <li><a href="#{{ day.month.slug }}">{{ day.month.label }}</a></li>
        <li>{{ day.date|date:"l d" }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

		{% include 'viewer/cards/day_switcher.html' %}
		{% include 'viewer/cards/eventcreate.html' %}
		
		<!--// Bottom of right margin --//-->

		{% if not day.today %}<div class="day-heart-summary"></div>{% endif %}
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-xs day-weight-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-xs day-sleep-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-xs day-music-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-xs day-people-summary"></div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">

{% for event in day.life_events %}
{% if event.cover_photo %}
{% with data=event %}

{% include 'viewer/cards/eventhead.html' %}

{% endwith %}
{% endif %}
{% endfor %}
{% for event in events %}

	{% localtime off %}

	{% if event|get_class == 'dict' %}

		{% if event.type == 'music_track' %}

			{% include 'viewer/cards/musictrack.html' %}

		{% endif %}
		{% if event.type == 'sun_time' %}

			{% include 'viewer/cards/suntime.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'RemoteInteraction' %}

		{% if event.type == 'microblogpost' %}

			{% include 'viewer/cards/tweet.html' %}

		{% endif %}

		{% if event.type == 'sms' %}

			{% include 'viewer/cards/smsconversation.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'GitCommit' %}

		{% include 'viewer/cards/commit.html' %}

	{% endif %}

	{% if event|get_class == 'CalendarTask' %}

		{% include 'viewer/cards/task_completed.html' %}

	{% endif %}

	{% if event|get_class == 'Event' %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                        <span class="pull-right">
                          {{ event.start_time|date:"l g:ia" }}
                        </span>
                    </div>
                    <div class="box-body">

		{% if event.type == 'sleepover' %}
		{% include 'viewer/cards/sleep.html' %}
		{% else %}
		{% include 'viewer/cards/event.html' %}
		{% endif %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                        <span class="pull-right">
                            <span>
                                <a class="btn btn-danger btn-xs eventdelete" data-event-id="{{ event.pk }}" href="#event_{{ event.pk }}">Delete</a>
                            </span>
                        </span>
                    </div>

                </div>

	{% endif %}

	{% endlocaltime %}

{% endfor %}

		<!--// Bottom of main column --//-->
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-sm hidden-md hidden-lg hidden-xl day-weight-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-sm hidden-md hidden-lg hidden-xl day-sleep-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-sm hidden-md hidden-lg hidden-xl day-music-summary"></div>
		<div data-day="{{ day.date|date:"Ymd" }}" class="hidden-sm hidden-md hidden-lg hidden-xl day-people-summary"></div>
            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/eventdelete.html' %}

{% include 'viewer/modal/mapeventcreate.html' %}
{% include 'viewer/modal/journeyeventcreate.html' %}
{% include 'viewer/modal/calendareventcreate.html' %}
{% include 'viewer/modal/fileeventcreate.html' %}

{% include 'viewer/modal/imageeditor.html' %}
{% include 'viewer/modal/eventeditor.html' %}
