{% load static %}
{% load class_tag %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Day</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-sm-push-6 col-md-push-8">

		{% include 'viewer/cards/eventcreate.html' %}
		{% include 'viewer/cards/day_switcher.html' %}
		
		<!--// Bottom of right margin --//-->
		<div class="day-heart-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-weight-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-sleep-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-music-summary"></div>
		<div class="hidden-xs day-people-summary"></div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-sm-pull-6 col-md-pull-4">

{% for event in events %}

	{% if event|get_class == 'dict' %}

		{% if event.type == 'music_track' %}

			{% include 'viewer/cards/musictrack.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'RemoteInteraction' %}

		{% if event.type == 'microblogpost' %}

			{% include 'viewer/cards/tweet.html' %}

		{% endif %}

		{% if event.type == 'sms' %}

			{% include 'viewer/cards/smsconversation.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'GitCommit' %}

		{% include 'viewer/cards/commit.html' %}

	{% endif %}

	{% if event|get_class == 'Event' %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                        <span class="pull-right">
                          {{ event.start_time|date:"l g:ia" }}
                        </span>
                    </div>
                    <div class="box-body">

		{% if event.type == 'sleepover' %}
		{% include 'viewer/cards/sleep.html' %}
		{% else %}
		{% include 'viewer/cards/event.html' %}
		{% endif %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                        <span class="pull-right">
                            <span>
                                <a class="btn btn-danger btn-xs eventdelete" data-event-id="{{ event.pk }}" href="#event_{{ event.pk }}">Delete</a>
                            </span>
                        </span>
                    </div>

                </div>

	{% endif %}

{% endfor %}


            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
		<!--// Bottom of left column --//-->
		<div class="hidden-lg hidden-xl day-weight-summary"></div>
		<div class="hidden-lg hidden-xl day-sleep-summary"></div>
		<div class="hidden-lg hidden-xl day-music-summary"></div>
		<div class="hidden-sm hidden-md hidden-lg hidden-xl day-people-summary"></div>
            </div>
        </div>
    </div>

</section>

{% include 'viewer/cards/eventdelete.html' %}

{% include 'viewer/cards/mapeventcreate.html' %}
{% include 'viewer/cards/journeyeventcreate.html' %}
{% include 'viewer/cards/calendareventcreate.html' %}

{% include 'viewer/cards/imageeditor.html' %}
{% include 'viewer/cards/eventeditor.html' %}
