{% load static %}
{% load class_tag %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Day</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-sm-push-6 col-md-push-8">

		{% include 'viewer/cards/eventcreate.html' %}
		{% include 'viewer/cards/day_switcher.html' %}
		
		<!--// Bottom of right margin --//-->
		<div class="day-heart-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-weight-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-sleep-summary"></div>
		<div class="hidden-xs hidden-sm hidden-md day-music-summary"></div>
		<div class="hidden-xs day-people-summary"></div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-sm-pull-6 col-md-pull-4">

{% for event in events %}

	{% if event|get_class == 'dict' %}

		{% if event.type == 'music_track' %}

			{% include 'viewer/cards/musictrack.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'RemoteInteraction' %}

		{% if event.type == 'microblogpost' %}

			{% include 'viewer/cards/tweet.html' %}

		{% endif %}

		{% if event.type == 'sms' %}

			{% include 'viewer/cards/smsconversation.html' %}

		{% endif %}

	{% endif %}

	{% if event|get_class == 'Event' %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                        <span class="pull-right">
                          {{ event.start_time|date:"l g:ia" }}
                        </span>
                    </div>
                    <div class="box-body">

		{% if event.type == 'sleepover' %}
		{% include 'viewer/cards/sleep.html' %}
		{% else %}
		{% include 'viewer/cards/event.html' %}
		{% endif %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                        <span class="pull-right">
                            <span>
                                <a class="btn btn-danger btn-xs eventdelete" data-event-id="{{ event.pk }}" href="#event_{{ event.pk }}">Delete</a>
                            </span>
                        </span>
                    </div>

                </div>

	{% endif %}

{% endfor %}


            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
		<!--// Bottom of left column --//-->
		<div class="hidden-lg hidden-xl day-weight-summary"></div>
		<div class="hidden-lg hidden-xl day-sleep-summary"></div>
		<div class="hidden-lg hidden-xl day-music-summary"></div>
		<div class="hidden-sm hidden-md hidden-lg hidden-xl day-people-summary"></div>
            </div>
        </div>
    </div>

</section>


<div class="modal fade nav-tabs-custom" id="timeline_event_delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <p>Are you sure you want to permanently delete this event?</p>
                
                <form id="timeline-event-delete">
                    <input type="hidden" id="delete-id" name="delete-id" value="" />
                </form>
            
                <button type="button" id="event-delete-button" class="btn btn-danger timeline-event-delete-form-button">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade nav-tabs-custom" id="day_locevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">


                              
			<div id="mapselect" class="mapselect"></div>
{% csrf_token %}
			<div id="location_event_select" data-date="{{ stats.cur }}"></div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade nav-tabs-custom" id="day_journeyevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	<form action="events/add_journey" method="POST">
            <div class="modal-body">

		<label for="join_events">Join events:</label>
		<select class="form-control" id="join_events" name="join_events">
{% for join in potential_joins %}
			<option value="{{ join.0 }}">{{ join.1 }}</option>
{% endfor %}
		</select>

		<label for="id_journey_workout_type">Workout type:</label>
		<select id="id_journey_workout_type" class="form-control" name="workout_type">
                                      <option selected="selected" value="">---------</option>
{% for category in categories %}
                                      <option value="{{ category.id }}">{{ category.label }}</option>
{% endfor %}
                </select>
{% csrf_token %}
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
	</form>
        </div>
    </div>
</div>

<div class="modal fade nav-tabs-custom" id="day_appointmentevent_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
	<form action="events/add_appointment_event" method="POST">
            <div class="modal-body">

		<select class="form-control" id="add_appointment_event" name="add_appointment_event">
{% for ap in appointments %}
			<option value="{{ ap.id }}">{{ ap.caption }}</option>
{% endfor %}
		</select>
{% csrf_token %}
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
	</form>
        </div>
    </div>
</div>

{% include 'viewer/cards/imageeditor.html' %}
{% include 'viewer/cards/eventeditor.html' %}
