{% load static %}

<section class="content-header">
    <h1>
        {{ data.caption }}
        <small>Event</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ data.caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">

{% if data.cover_photo %}

                <div class="box box-primary box-event-banner" style="background-position: 50% 30%; background-image: url(photo/{{ data.cover_photo.id }}.jpg);">
                    <div class="box-body">
                        <div class="bottom-cling">
    {% if data.location %}
                            <h2>{{ data.location }}</h2>
    {% else %}
                            <h2>{{ data.caption }}</h2>
    {% endif %}
    {% if data.description != '' %}
                            <p>{{ data.description_html|safe }}</p>
    {% endif %}
                        </div>
                    </div>
                </div>

{% elif data.location.image %}

                <div class="box box-primary box-event-banner" style="background-image: url(places/{{ data.location.uid }}.jpg);">
                    <div class="box-body">
                        <div class="bottom-cling">
                            <h2>{{ data.location }}</h2>
    {% if data.description != '' %}
                            <p>{{ data.description_html|safe }}</p>
    {% endif %}
                        </div>
                    </div>
                </div>

{% elif data.description != '' %}

                <div class="box box-primary">
                    <div class="box-body">
                        <p>{{ data.description_html|safe }}</p>
                    </div>
                </div>
{% endif %}

{% if data.geo != '' %}

                <div class="box box-primary">
                    <div class="box-body">
    {% if data.description == '' and data.photos.count == 0 %}
                        <div id="map{{ data.pk }}" class="journeyeventmap eventmap" data-geojson="{{ data.geo }}"></div>
    {% else %}
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
    {% endif %}
                    </div>
                </div>

{% endif %}

{% if data.people.all.count > 0 %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            People</h3>
                    </div>
                    <div class="box-body">
                        <ul class="users-list clearfix">

{% for item in data.people.all %}
                        
                            <li>
                                {% if item.image %}<img class="profile-user-img img-responsive" src="people/{{ item.uid }}_thumb.jpg"/>{% else %}<img class="profile-user-img img-responsive img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}">{% endif %}
                                <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                    {{ item.full_name }}</a>
                            </li>

{% endfor %}

                        </ul>
                    </div>
                </div>

{% endif %}

{% if data.geo != '' %}

{% if data.speed != '' %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Speed (mph)</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="time-chart" style="height: 160px" data-data="{{ data.speed|escape }}"></canvas>
                        </div>
                    </div>
                </div>

{% endif %}
{% if data.elevation != '' %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Elevation (m)</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="line-chart-irregular" style="height: 160px" data-data="{{ data.elevation|escape }}"></canvas>
                        </div>
                    </div>
                </div>

{% endif %}
{% endif %}

{% if data.workout_categories.count > 0 %}
{% if data.health.heart != None %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Heart Rate (bpm)</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="time-chart" style="height: 160px" data-data="{{ data.health.heart|escape }}"></canvas>
                        </div>
                    </div>
                </div>

{% endif %}
{% if data.health.cadence != None %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Cadence</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="time-chart" style="height: 160px" data-data="{{ data.health.cadence|escape }}"></canvas>
                        </div>
                    </div>
                </div>

{% endif %}
{% endif %}
            
{% if data.health.sleep != None %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sleep</h3>
                    </div>
                    <div class="box-body">

                        <div>
                            <span>{{ data.health.sleep.start_friendly }}</span>
                            <span class="pull-right">{{ data.health.sleep.end_friendly }}</span>
                        </div>
                        <div class="progress-group">
                            <div class="progress sleep-bar">
                        
        {% for bar in data.health.sleep.data %}

                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ bar.2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar.2 }}%; background-color: {% if bar.0 == 0 %}rgba(0, 0, 0, 0){% endif %}{% if bar.0 == 1 %}#ABC1D8{% endif %}{% if bar.0 == 2 %}#3C8DBC{% endif %};"></div>

        {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
                             
{% endif %}


{% for conversation in data.sms %}

                <div class="box box-primary">
                    <div class="box-header with-border">
    {% if conversation.0.person %}
                        <h3 class="box-title">SMS with <a href="#person_{{ conversation.0.person.uid }}">{{ conversation.0.person.full_name }}</a></h3>
    {% else %}
                        <h3 class="box-title">SMS conversation</h3>
    {% endif %}
                    </div>
                    <div class="box-body">

{% for sms in conversation %}

                    {% if sms.incoming %}<p class="message-incoming">{% else %}<p class="message-outgoing">{% endif %}<small>{{ sms.time }}</small><br>{{ sms.message }}</p>

{% endfor %}
                    
                    </div>
                </div>

{% endfor %}

{% if music %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Music Played</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-inline">

                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Track</th>
                            </tr>
                            </thead>
                            <tbody>
                                                                    
{% for track in music %}

                            <tr>
                                <td>{{ track.time|date:"H:i" }}</td>
                                <td>{{ track.artists.0.name }} - {{ track.title }}</td>
                            </tr>

{% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>

{% endif %}

{% if data.photos.count > 0 %}

                <div class="box box-primary">
                    <div class="box-body">

{% for photo in data.photos %}

                    <a href="photo/{{ photo.pk }}.jpg" target="_blank" class="event_image_select" data-photoid="{{ photo.pk }}" data-eventid="{{ data.pk }}" data-cover="{% if data.cover_photo == photo %}true{% else %}false{% endif %}"><img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100" alt="{{ photo.generate_caption }}"></a>

{% endfor %}

                    </div>
                </div>

{% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

{% if data.location != None and data.geo == '' %}

                <div class="box box-primary">
                    <div class="box-body">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.location.geo }}"></div>
                    </div>
                </div>

{% endif %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-calendar-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Event Date</span>
                        <span class="info-box-number"><a href="#day_{{ data.start_time|date:"Ymd" }}">{{ data.start_time|date:"jS F Y" }}</a></span>
                        <span class="info-box-text">{{ data.start_time|date:"l, g:i a" }}</span>
                    </div>
                </div>

{% if data.location != None %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-map-marker"></i></span>
                    <div class="info-box-content" style="overflow: hidden !important;">
                        <span class="info-box-text">Location</span>
                        <span class="info-box-number" style="max-height: 2.5em;"><a href="#place_{{ data.location.uid }}">{{ data.location }}</a></span>
                    </div>
                </div>

{% endif %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Duration</span>
                        <span class="info-box-number">{{ data.length_string }}</span>
                    </div>
                </div>

{% if data.distance > 0 %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-map-signs"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Distance</span>
                        <span class="info-box-number">{{ data.distance }}&nbsp;miles</span>
                    </div>
                </div>

{% endif %}

{% if data.music %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-music"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Tracks</span>
                        <span class="info-box-number">{{ data.music|length }}</span>
                    </div>
                </div>

{% endif %}

{% if data.health.steps != None %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-road"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Steps</span>
                        <span class="info-box-number">{{ data.health.steps }}</span>
                    </div>
                </div>

{% endif %}

{% if data.tags.count > 0 %}

                <div style="margin-bottom: 20px;">

                        {% for tag in data.tags.all %}<a href="#tag_{{ tag.id|safe }}"><span style="background-color: {{ tag.colour }};" class="badge">{{ tag.id }}</span></a> {% endfor %}

                        <br>

                </div>

{% endif %}

{% if data.subevents.count > 0 %}

                <div class="box box-primary">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
{% for item in data.subevents %}
                                    <tr>
                                        <td><a href="#event_{{ item.id }}"><small class="muted">{{ item.start_time }}</small><br>{{ item.caption }}</a></td>
                                        <td><span class="badge">{{ item.type }}</span></td>
                                    </tr>
{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

{% endif %}

                <div class="box box-primary">
                    <div class="box-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admin_event_edit" aria-hidden="true">Edit Event</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#admin_event_delete" aria-hidden="true">Delete</button>
                    </div>
                </div>

{% if data.similar %}

                <div class="box box-primary">
                    <div class="box-header"><h3 class="box-title">Similar journeys</h3></div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">

{% for similarevent in data.similar %}

                            <tr>
                                <td><a href="#event_{{ similarevent.event1 }}">{{ similarevent.event1__caption }}</a></td>
                                <td class="pull-right">{{ similarevent.event1__start_time|date:"jS F Y" }}</td>
                            </tr>

{% endfor %}

                        </table>
                    </div>
                </div>

{% endif %}

{% if data.weather %}

	{% include 'viewer/cards/weather.html' %}

{% endif %}

{% if data.workout_categories.count > 0 %}

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-event-heart" data-toggle="tab"><i class="fa fa-heartbeat"></i></a></li>
                        <li><a href="#tab-event-timing" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#tab-event-height" data-toggle="tab"><i class="fa fa-arrows-v"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-event-heart">

                            <ul class="list-group list-group-unbordered">

{% if data.health.heartavg != None %}
                                <li class="list-group-item"><b>Average bpm</b><span class="pull-right">{{ data.health.heartavg }}</span></li>
{% endif %}
{% if data.health.heartmax != None %}
                                <li class="list-group-item"><b>Highest bpm</b><span class="pull-right">{{ data.health.heartmax }}</span></li>
{% endif %}
{% if data.health.heartavgprc != None %}
                                <li class="list-group-item"><b>Average % of max</b><span class="pull-right">{{ data.health.heartavgprc }}%</span></li>
{% endif %}
{% if data.health.heartmaxprc != None %}
                                <li class="list-group-item"><b>Highest % of max</b><span class="pull-right">{{ data.health.heartmaxprc }}%</span></li>
{% endif %}
{% if data.health.heartoptimaltime != None %}
                                <li class="list-group-item"><b>Time in optimal zone</b><span class="pull-right">{{ data.health.heartoptimaltime }}</span></li>
{% endif %}

                            </ul>
{% if data.health.heartzonetime != None %}
                            <div class="chart">
                                <canvas class="donut-chart" data-data="{{ data.health.heartzonetime|escape }}" data-labels="[&quot;No zone&quot;, &quot;above 50% of max&quot;, &quot;above 70% of max&quot;]"></canvas>
                            </div>
{% endif %}

                        </div>
                        <div class="tab-pane" id="tab-event-timing">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item"><b>Total time</b><span class="pull-right">{{ data.length_string }}</span></li>
{% if data.health.speedmoving != None %}
                                <li class="list-group-item"><b>Moving time</b><span class="pull-right">{{ data.health.speedmoving }}</span></li>
{% endif %}
{% if data.health.speedavg != None %}
                                <li class="list-group-item"><b>Average speed</b><span class="pull-right">{{ data.health.speedavg }}mph</span></li>
{% endif %}
{% if data.health.speedavgmoving != None %}
                                <li class="list-group-item"><b>Average moving speed</b><span class="pull-right">{{ data.health.speedavgmoving }}mph</span></li>
{% endif %}
{% if data.health.speedmax != None %}
                                <li class="list-group-item"><b>Maximum speed</b><span class="pull-right">{{ data.health.speedmax }}mph</span></li>
{% endif %}
                            </ul>
			</div>
                        <div class="tab-pane" id="tab-event-height">
                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item"><b>Elevation gain</b><span class="pull-right">{{ data.health.elevgain }}m</span></li>
                                <li class="list-group-item"><b>Elevation loss</b><span class="pull-right">{{ data.health.elevloss }}m</span></li>
                                <li class="list-group-item"><b>Minimum elevation</b><span class="pull-right">{{ data.health.elevmin }}m</span></li>
                                <li class="list-group-item"><b>Maximum elevation</b><span class="pull-right">{{ data.health.elevmax }}m</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

{% endif %}


            </div>
        </div>
    </div>

</section>



<div class="modal fade nav-tabs-custom" id="admin_event_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <form id="event-edit" action="events/{{ data.pk }}.html" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#label" data-toggle="tab">Event</a></li>
                            <li><a href="#event-people" data-toggle="tab">People</a></li>
                            <li><a href="#link" data-toggle="tab">Narrative</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="label">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter != 3 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                                <tr class="form-row">
                                  <td></td>
                                  <td><label for="id_workout_type">Workout type:</label></td><td><select id="id_workout_type" class="form-control" name="workout_type">
                                      <option value="">---------</option>
{% for category in categories %}
{% if data.workout_categories.first.id == category.id %}
                                      <option selected="selected" value="{{ category.id }}">{{ category.label }}</option>
{% else %}
                                      <option value="{{ category.id }}">{{ category.label }}</option>
{% endif %}
{% endfor %}
                                  </select></td>
                                </tr>
                              </table>
                        
                        </div>
                        <div class="tab-pane" id="event-people">

		<div class="input-group input-group-sm">

			<select id="person_add" class="form-control">
{% for person in people %}
				<option value="{{ person.uid }}">{{ person.full_name }}</option>
{% endfor %}
			</select>
			<span class="input-group-btn"><button class="btn btn-success btn-flat" type="button" id="person_add_submit">Add</button></span>

		</div>

		<div id="event_people_list" class="list-group list-group-unbordered">
{% for item in data.people.all %}
                        
                        <div class="person_delete list-group-item" data-id="{{ item.uid }}"><img style="margin-right: 1em;" width="32" height="32" src="people/{{ item.uid }}_thumb.jpg"/>{{ item.full_name }} <small class="pull-right"><a href="#" class="delete_person btn btn-danger btn-sm" data-id="{{ item.uid }}">Delete</a></small></div>

{% endfor %}
		</div>

                        </div>
                        <div class="tab-pane" id="link">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter == 3 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>

{% endif %}
{% endfor %}

                                <tr class="form-row">
                                  <td></td>
                                  <td><label for="id_workout_type">Tags:</label></td>
                                  <td><input type="text" id="id_event_tags" class="form-control" name="event_tags" value="{{ data.tags_field|safe }}"/></td>
                                </tr>

                              </table>

                        </div>
                    </div>

                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="event-save-form-button">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



{% include 'viewer/cards/imageeditor.html' %}
