{% load static %}

<section class="content-header">
    <h1>
        {{ data.caption }}
        <small>Event</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ data.caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

{% include 'viewer/cards/eventprofile.html' %}

{% if data.subevents.count > 0 %}
  {% include 'viewer/cards/eventsubevents.html' %}
{% endif %}

{% if data.similar %}
  {% include 'viewer/cards/eventsimilar.html' %}
{% endif %}

{% if data.weather %}
	{% include 'viewer/cards/weather.html' %}
{% endif %}

{% if data.workout_categories.count > 0 %}
	{% include 'viewer/cards/eventhealth.html' %}
{% endif %}


            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">

{% include 'viewer/cards/eventhead.html' %}

{% if data.geo != '' %}
  {% include 'viewer/cards/eventmap.html' %}
{% endif %}

{% if data.people.count > 0 %}
  {% include 'viewer/cards/eventpeople.html' %}
{% endif %}

{% if data.commits %}
  {% include 'viewer/cards/eventcommits.html' %}
{% endif %}

{% if data.geo != '' %}
{% if data.speed != '' %}
  {% include 'viewer/cards/eventspeedgraph.html' %}
{% endif %}
{% if data.elevation != '' %}
  {% include 'viewer/cards/eventelevationgraph.html' %}
{% endif %}
{% endif %}

{% if data.workout_categories.count > 0 %}
{% if data.health.heart != None %}
  {% include 'viewer/cards/eventheartgraph.html' %}
{% endif %}
{% if data.health.cadence != None %}
  {% include 'viewer/cards/eventcadencegraph.html' %}
{% endif %}
{% endif %}
            
{% if data.health.sleep != None %}
  {% include 'viewer/cards/eventsleepgraph.html' %}
{% endif %}

{% if data.sms %}
  {% include 'viewer/cards/eventsms.html' %}
{% endif %}

{% if music %}
  {% include 'viewer/cards/eventmusic.html' %}
{% endif %}

{% if data.photos.count > 0 %}
  {% include 'viewer/cards/eventphotos.html' %}
{% endif %}

            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/eventmastereditor.html' %}
{% include 'viewer/modal/imageeditor.html' %}
{% include 'viewer/modal/eventsplitter.html' %}
