{% load static %}

<section class="content-header">
    <h1>
        Sleep
        <small>Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Health</a></li>
        <li>Sleep</li>
    </ol>
</section>

<section class="content">

	<div class="box box-primary">
		<div class="box-header">
			<h3 class="box-title">Sleep History</h3>
		</div>
		<div class="box-body table-responsive no-padding">

			<table class="table table-hover">

				<tr>
					<th>Date</th>
					<th>Wake up time</th>
					<th>Time awake</th>
					<th>Bedtime</th>
					<th>Time in bed</th>
				</tr>

{% for day in data.days %}
{% if day.wake_time %}
{% if day.bed_time %}
				<tr>
					<td><a href="#day_{{ day.date|date:"Ymd" }}">{{ day.date|date:"l jS F" }}</a></td>
					<td>{{ day.wake_time|date:"g:ia" }}</td>
					<td>{{ day.wake_time|timesince:day.bed_time }}</td>
					<td>{{ day.bed_time|date:"g:ia" }}</td>
					<td>{% if day.tomorrow.wake_time %}{{ day.bed_time|timesince:day.tomorrow.wake_time }}{% endif %}</td>
				</tr>
{% endif %}
{% endif %}
{% endfor %}
			</table>

		<div>
	</div>


</section>

