{% load static %}

<section class="content-header">
    <h1>
        {{ data.caption }}
        <small>Life Event</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ data.caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

{% include 'viewer/cards/eventprofile.html' %}

{% with countries=data.countries %}
{% if countries %}

        {% include 'viewer/cards/yearcountries.html' %}

{% else %}

        {% with cities=data.cities %}
        {% if cities %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cities visited</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">
        {% for city in cities %}
                                <tr>
                                        <td><b><a href="#{{ city.slug }}">{{ city }}</a></b></td>
                                </tr>
        {% endfor %}
                        </table>

                </div>
            </div>

        {% endif %}
        {% endwith %}

{% endif %}
{% endwith %}


{% if data.subevents.count > 0 %}
  {% include 'viewer/cards/eventsubevents.html' %}
{% endif %}

{% if data.weather %}
	{% include 'viewer/cards/weather.html' %}
{% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">

{% include 'viewer/cards/eventhead.html' %}

{% if data.geo != '' or data.locations.count > 1 %}
  {% include 'viewer/cards/eventmap.html' %}
{% endif %}

{% if data.people.count > 0 %}
  {% include 'viewer/cards/eventpeople.html' %}
{% endif %}

{% if data.workouts %}
  {% include 'viewer/cards/eventworkouts.html' %}
{% endif %}

{% with event=longest_journey %}
{% if event %}
  {% include 'viewer/cards/longest_journey.html' %}
{% endif %}
{% endwith %}

{% if data.commits %}
  {% include 'viewer/cards/eventcommits.html' %}
{% endif %}

{% if data.conversations %}
  {% include 'viewer/cards/eventconversation.html' %}
{% endif %}

                <div data-event="{{ data.pk }}" class="event-music-summary"></div>

{% if data.photos.count > 0 %}
  {% include 'viewer/cards/eventphotos.html' %}
{% endif %}

            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/eventmastereditor.html' %}
{% include 'viewer/modal/imageeditor.html' %}
