{% load static %}

<section class="content-header">
    <h1>
        {{ data.caption }}
        <small>Life Event</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ data.caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">

{% include 'viewer/cards/eventhead.html' %}

{% if data.geo != '' %}
  {% include 'viewer/cards/eventmap.html' %}
{% endif %}

{% if data.people.count > 0 %}
  {% include 'viewer/cards/eventpeople.html' %}
{% endif %}

{% if data.commits %}
  {% include 'viewer/cards/eventcommits.html' %}
{% endif %}

{% if data.sms %}
  {% include 'viewer/cards/eventsms.html' %}
{% endif %}

{% if music %}
  {% include 'viewer/cards/eventmusic.html' %}
{% endif %}

{% if data.photos.count > 0 %}
  {% include 'viewer/cards/eventphotos.html' %}
{% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

{% include 'viewer/cards/eventstats.html' %}

{% if data.tags.count > 0 %}
  {% include 'viewer/cards/eventtags.html' %}
{% endif %}

{% if data.subevents.count > 0 %}
  {% include 'viewer/cards/eventsubevents.html' %}
{% endif %}

                <div class="box box-primary">
                    <div class="box-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admin_event_edit" aria-hidden="true">Edit Event</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#admin_event_delete" aria-hidden="true">Delete</button>
                    </div>
                </div>

{% if data.weather %}
	{% include 'viewer/cards/weather.html' %}
{% endif %}

            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/eventmastereditor.html' %}
{% include 'viewer/modal/imageeditor.html' %}
