{% load static %}
{% load tz %}
{% load class_tag %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Month</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li><a href="#year_{{ month.year }}">{{ month.year }}</a></li>
        <li>{{ month.label }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{ month }}</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item"><b>Average sunlight per day</b> <span class="pull-right">{{ month.average_sunlight }}</span></li>
                        <li class="list-group-item"><b>Earliest morning</b> <span class="pull-right"><a href="#{{ month.earliest_morning.slug }}">{{ month.earliest_morning.wake_time|date:"g:ia" }}</a></span></li>
                        <li class="list-group-item"><b>Latest night</b> <span class="pull-right"><a href="#{{ month.latest_night.slug }}">{{ month.latest_night.bed_time|date:"g:ia" }}</a></span></li>
{% for wc in month.workouts %}
                        <li class="list-group-item"><b>{{ wc.0 }} distance</b> <span class="pull-right">{{ wc.1 }} miles</span></li>
{% endfor %}
                    </ul>

<div class="chart">
<canvas class="donut-chart" style="height: 160px" data-labels="{{ month.location_categories_chart.0|escape }}" data-data="{{ month.location_categories_chart.1|escape }}"></canvas>
</div>

                </div>
                <div class="box-footer">
			<div class="row">
				<div class="col-sm-4 border-right">
					<div class="description-block">
						<h5 class="description-header">{{ month.days.count }}</h3>
						<span class="description-text">Days</h3>
					</div>
				</div>
				<div class="col-sm-4 border-right">
					<div class="description-block">
						<h5 class="description-header">{{ month.people.count }}</h3>
						<span class="description-text">People</h3>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="description-block">
						<h5 class="description-header">{{ month.events.count }}</h3>
						<span class="description-text">Events</h3>
					</div>
				</div>
			</div>
                </div>
            </div>

{% if history.count > 0 %}

            <div class="box box-primary">
                <div class="box-body">

{% for event in history %}

			<h4><a href="#day_{{ event.date|date:"Ymd" }}">{{ event.date|date:"l jS" }}</a></h4>
			<p>{{ event.description }} <span class="badge badge-secondary">{{ event.category }}</span></p>

{% endfor %}

                </div>
            </div>

{% endif %}

{% for event in month.life_events %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                    </div>
                    <div class="box-body">

                {% include 'viewer/cards/event.html' %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                    </div>
                </div>

{% endfor %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
{% for day in month.days %}
                                <tr>
                                        <td><a href="#{{ day.slug }}">{{ day.date|date:"l jS" }}</a></td>
                                        <td><span class="pull-right">{% if day.average_mood == 5 %}<i class="fa fa-smile-o"></i>{% endif %}{% if day.average_mood == 4 %}<i class="fa fa-smile-o"></i>{% endif %}{% if day.average_mood == 3 %}<i class="fa fa-meh-o"></i>{% endif %}{% if day.average_mood == 2 %}<i class="fa fa-meh-o"></i>{% endif %}{% if day.average_mood == 1 %}<i class="fa fa-frown-o"></i>{% endif %}</span></td>
                                </tr>
{% endfor %}
                        </table>
                    </div>
                </div>
		
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary">
                    <div class="box-body">
                            <ul class="products-list product-list-in-box">

{% for item in month.people %}
{% if item.significant %}
{% if item.image %}

                                <li class="item">
                                    <div class="product-img">
                                        <img src="people/{{ item.uid }}_thumb.jpg"/>
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#person_{{ item.uid }}">
                                            {{ item.full_name }}</a>
                                        <span class="product-description">
                                            {{ item.event_count }} encounter(s)
                                            </span>
                                    </div>
                                </li>

{% endif %}
{% endif %}
{% endfor %}


                            </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

