{% load static %}
{% load tz %}
{% load class_tag %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Month</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{ month }}</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item"><b>Days</b> <span class="pull-right">{{ month.days.count }}</span></li>
                        <li class="list-group-item"><b>People</b> <span class="pull-right">{{ month.people.count }}</span></li>
                        <li class="list-group-item"><b>Events</b> <span class="pull-right">{{ month.events.count }}</span></li>
                    </ul>
                </div>
            </div>

{% for event in month.life_events %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                    </div>
                    <div class="box-body">

                {% include 'viewer/cards/event.html' %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                    </div>
                </div>

{% endfor %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
{% for day in month.days %}
                                <tr>
                                        <td><a href="#{{ day.slug }}">{{ day }}</a></td>
                                        <td><span class="pull-right">{% if day.average_mood == 5 %}<i class="fa fa-smile-o"></i>{% endif %}{% if day.average_mood == 4 %}<i class="fa fa-smile-o"></i>{% endif %}{% if day.average_mood == 3 %}<i class="fa fa-meh-o"></i>{% endif %}{% if day.average_mood == 2 %}<i class="fa fa-meh-o"></i>{% endif %}{% if day.average_mood == 1 %}<i class="fa fa-frown-o"></i>{% endif %}</span></td>
                                </tr>
{% endfor %}
                        </table>
                    </div>
                </div>
		
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary">
                    <div class="box-body">
                            <ul class="products-list product-list-in-box">

{% for item in month.people %}
{% if item.significant %}
{% if item.image %}

                                <li class="item">
                                    <div class="product-img">
                                        <img src="people/{{ item.uid }}_thumb.jpg"/>
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#person_{{ item.uid }}">
                                            {{ item.full_name }}</a>
                                        <span class="product-description">
                                            {{ item.event_count }} encounter(s)
                                            </span>
                                    </div>
                                </li>

{% endif %}
{% endif %}
{% endfor %}


                            </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

