{% load static %}
{% load tz %}
{% load class_tag %}
{% load timedelta %}
{% load humanize %}
{% load html_calendar %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Month</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li><a href="#year_{{ month.year }}">{{ month.year }}</a></li>
        <li>{{ month.label }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{ month }}</h3>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item"><b>Average sunlight per day</b> <span class="pull-right">{{ month.average_sunlight|time_delta:"%H:%M" }}</span></li>
{% with awt=month.average_wake_time %}{% if awt %}<li class="list-group-item"><b>Average awake time per day</b> <span class="pull-right">{{ awt|time_delta:"%H:%M" }}</span></li>{% endif %}{% endwith %}
{% with event=month.earliest_morning %}{% if event %}<li class="list-group-item"><b>Earliest morning</b> <span class="pull-right"><a href="#{{ event.slug }}">{{ event.wake_time|date:"g:ia" }}</a></span></li>{% endif %}{% endwith %}
{% with event=month.latest_night %}{% if event %}<li class="list-group-item"><b>Latest night</b> <span class="pull-right"><a href="#{{ event.slug }}">{{ event.bed_time|date:"g:ia" }}</a></span></li>{% endif %}{% endwith %}
{% with ast=month.average_sleep %}{% if ast %}<li class="list-group-item"><b>Average sleep per night</b> <span class="pull-right">{{ ast|time_delta:"%H:%M" }}</span></li>{% endif %}{% endwith %}
                    </ul>

{% include 'viewer/cards/month_switcher.html' %}

			{{ month|calendar }}

                </div>
                <div class="box-footer">
			<div class="row">
				<div class="col-sm-4 border-right">
					<div class="description-block">
						<h5 class="description-header">{{ month.days.count }}</h3>
						<span class="description-text">Days</h3>
					</div>
				</div>
				<div class="col-sm-4 border-right">
					<div class="description-block">
						<h5 class="description-header">{{ month.people.count }}</h3>
						<span class="description-text">People</h3>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="description-block">
						<h5 class="description-header">{{ month.events_count }}</h3>
						<span class="description-text">Events</h3>
					</div>
				</div>
			</div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Types of Places</h3>
                </div>
                <div class="box-body no-padding">
			<div class="chart">
			<canvas class="donut-chart" style="height: 160px" data-labels="{{ month.location_categories_chart.0|escape }}" data-data="{{ month.location_categories_chart.1|escape }}"></canvas>
			</div>
                </div>
            </div>


{% with cities=month.cities %}
{% if cities %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cities visited</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">
{% for city in cities %}
                                <tr>
                                        <td><b><a href="#{{ city.slug }}">{{ city }}</a></b></td>
                                </tr>
{% endfor %}
                        </table>

                </div>
            </div>

{% endif %}
{% endwith %}

{% with tasks=month.tasks_completed %}
{% if tasks %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tasks completed</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">
{% for task in tasks %}
                                <tr>
                                        <td>{{ task }}</td>
                                </tr>
{% endfor %}
                        </table>

                </div>
            </div>

{% endif %}
{% endwith %}

{% if history.count > 0 %}

            <div class="box box-primary">
                <div class="box-body">

{% for event in history %}

			<h4><a href="#day_{{ event.date|date:"Ymd" }}">{{ event.date|date:"l jS" }}</a></h4>
			<p>{{ event.description }} <span class="badge badge-secondary">{{ event.category }}</span></p>

{% endfor %}

                </div>
            </div>

{% endif %}

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">

{% for event in month.life_events %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                    </div>
                    <div class="box-body">

                {% include 'viewer/cards/event.html' %}

                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                    </div>
                </div>

{% endfor %}
{% with workouts=month.workouts %}
{% if workouts %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Health</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">

{% with graph=month.weight_graph %}
{% if graph.2 %}
				<tr>
                                        <th>Weight</th>
					<td colspan="2">
						<div class="chart">
							<canvas class="scatter-chart" style="height: 160px" data-data="{{ graph|escape }}"></canvas>
						</div>
					</td>
				</tr>
{% endif %}
{% endwith %}
{% with graph=month.step_graph %}
{% if graph.2 %}
				<tr>
                                        <th>Steps</th>
					<td colspan="2">
						<div class="chart">
							<canvas class="bar-chart" style="height: 160px" data-data="{{ graph|escape }}"></canvas>
						</div>
					</td>
				</tr>
{% endif %}
{% endwith %}
{% with steps=month.steps %}
{% if steps > 0 %}
				<tr>
					<th>Total steps</th>
					<td colspan="2"><span class="pull-right">{{ steps|intcomma }}</span></td>
				</tr>
{% endif %}
{% endwith %}
{% for wc in workouts %}
                                <tr>
                                        <th>{{ wc.0 }}&nbsp;distance</th>
					<td style="width:100%;"><div class="progress progress-xs" style="width: 100%; background-color: rgba(0, 0, 0, 0)"><div class="progress-bar progress-bar-primary" style="width: {{ wc.2 }}%;"></div></div></td>
                                        <td><span class="pull-right">{{ wc.1 }}&nbsp;miles</span></td>
                                </tr>
{% endfor %}
                        </table>

                </div>
            </div>

{% endif %}
{% endwith %}
{% with event=longest_journey %}
{% if event %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">Travel</h3>
                    </div>
                    <div class="box-body no-padding">

			<table class="table table-condensed">
			<tr>
				<td colspan="2">

                {% include 'viewer/cards/event.html' %}

				</td>
			</tr>
			<tr>
				<th>Longest journey</th>
                        	<td><span class="pull-right"><a href="#event_{{ event.pk }}">{{ event.start_time|date:"l jS F" }}</a></span></td>
			</tr>
			<tr>
				<th>Longest journey length</th>
                        	<td><span class="pull-right">{{ event.distance }} miles</span></td>
			</tr>
			<tr>
				<th>Longest journey time</th>
                        	<td><span class="pull-right">{{ event.length_string }}</span></td>
			</tr>
			<tr>
				<th>Total distance travelled</th>
                        	<td><span class="pull-right">{{ month.distance|intcomma }} miles</span></td>
			</tr>
			</table>
                    </div>
                </div>

{% endif %}
{% endwith %}
{% with people=month.people %}
{% if people %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">People</h3>
                    </div>
                    <div class="box-body">

                        <ul class="products-list product-list-in-box">

{% for item in people %}
                        
                            <li class="item">
                                <div class="product-img">{% if item.image %}<img class="img-responsive" src="people/{{ item.uid }}_thumb.jpg"/>{% else %}<img class="img-responsive" src="{% static "viewer/graphics/unknown_person.jpg" %}">{% endif %}</div>
				<div class="product-info">
	                                <a class="product-name personlink" href="#person_{{ item.uid }}">{{ item.full_name }}{% if item.significant %}<span class="pull-right"><i class="fa fa-star"></i></span>{% endif %}</a>
					<span class="product-description">{{ item.event_count }} event(s) this month, {{ item.personevent_set.count }} event(s) total.</span>
				</div>
                            </li>

{% endfor %}

                        </ul>

                    </div>
                </div>

{% endif %}
{% endwith %}

            </div>
        </div>
    </div>

</section>

