{% load static %}

<section class="content-header">
    <h1>
        On This Day
    </h1>
    <ol class="breadcrumb">
        <li>On This Day</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">On This Day</h3>
                    <p class="text-muted text-center">{{ data.date|date:"jS F" }}</p>

                    <ul class="list-group list-group-unbordered">
			<li class="list-group-item"><b>Day of week</b><span class="pull-right">{{ data.date|date:"l" }}</span></li>
			<li class="list-group-item"><b>This year</b><span class="pull-right">{{ data.date|date:"Y" }}{% if data.date|date:"L" %}<small> (leap year)</small>{% endif %}</span></li>
			<li class="list-group-item"><b>Day of year</b><span class="pull-right">{{ data.date|date:"z" }}</span></li>
			<li class="list-group-item"><b>Week of year</b><span class="pull-right">{{ data.date|date:"W" }}</span></li>
                    </ul>

		    <p><b>Year progress</b><span class="pull-right">{{ data.year_progress }}%</span></p>
		    <div class="progress progress-sm">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{ data.date|date:"z" }}" aria-valuemin="0" aria-valuemax="366" style="width: {{ data.year_progress }}%;"></div>
		    </div>

                </div>
            </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-9">

<div id="onthisday" data-date="{{ data.date|date:"Ymd" }}"></div>

            </div>
        </div>

    </div>

</section>
