<section class="content-header">
    <h1>
        Places
    </h1>
    <ol class="breadcrumb">
        <li>Places</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-places-recent" data-toggle="tab">Recent</a></li>
                        <li><a href="#tab-places-overseas" data-toggle="tab">Overseas</span></a></li>
                        <li><a href="#tab-places-all" data-toggle="tab">Current</span></a></li>
                        <li><a href="#tab-places-destroyed" data-toggle="tab">Historical</a></li>
                        <li><a href="#tab-places-categories" data-toggle="tab">Categories</a></li>
                        <li class="pull-right">
				<div class="box-tools"><a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#admin_places_add" aria-hidden="true" href="#"><i class="fa fa-plus"></i></a></div>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-places-recent">

                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.recent %}
{% if place.num_events > 0 %}
                                
	{% include 'viewer/list-items/location.html' %}
                                
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>

                        </div>
                        <div class="tab-pane" id="tab-places-overseas">

                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.overseas %}
                                
	{% include 'viewer/list-items/location.html' %}
                                
{% endfor %}
                                
                            </ul>
                        </p>

                        </div>
                        <div class="tab-pane" id="tab-places-all">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists %}
                                
	{% include 'viewer/list-items/location.html' %}
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>
                        <div class="tab-pane" id="tab-places-destroyed">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists == False %}
                                
	{% include 'viewer/list-items/location.html' %}
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>
                        <div class="tab-pane" id="tab-places-categories">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for category in data.categories %}
{% if category.locations.count > 0 %}

	{% include 'viewer/list-items/locationcategory.html' %}

{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>

                    </div>
                </div>
            
            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/placeeditor.html' %}
