{% load static %}

<section class="content-header">
    <h1>
        {{ data.category }}
        <small>Place Category</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#places">Places</a></li>
        <li><a href="#place_categories">Categories</a></li>
        <li>{{ data.label }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-body box-profile">

                        <h3 class="profile-username text-center">{{ data.caption }}</h3>
                        <p class="text-muted text-center">Place Category</p>
			{% if data.description %}<p>{{ data.description }}</p>{% endif %}

                    </div>
                    <div class="box-footer">
                        <span class="pull-right"><a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#admin_placecats_add" aria-hidden="true">Edit Category</a></span>
                    </div>
                </div>

{% if data.schema_map %}

                <div class="box box-primary">
                    <div class="box-header with-border"><h3 class="box-title">Schema.org</h3></div>
                    <div class="box-body no-padding">
                        <table class="table table-inline">
                          <li class="list-group-item">
                                <b><a href="{{ data.schema_map.uri }}">{{ data.schema_map.label }}</a></b>
                                {% if data.schema_map.comment %}<br/><small class="muted">{{ data.schema_map.comment|safe }}</small>{% endif %}
                          </li>
{% for sc in data.schema_map.ancestors %}
                          <li class="list-group-item">
                                <b><a href="{{ sc.uri }}">{{ sc.label }}</a></b>
				<span class="pull-right"><small class="text-muted">Broader category</small></span>
                          </li>
{% endfor %}
                        </table>
                    </div>
                </div>

{% endif %}


            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-body">

                        <p>
                            <ul class="products-list product-list-in-box">

{% for place in data.locations.all %}

	{% if place.exists %}
        {% include 'viewer/list-items/location.html' %}
	{% endif %}

{% endfor %}

                            </ul>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/placecateditor.html' %}
