<section class="content-header">
    <h1>
        Places
    </h1>
    <ol class="breadcrumb">
        <li>Places</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-places-recent" data-toggle="tab">Recent</a></li>
                        <li><a href="#tab-places-overseas" data-toggle="tab">Overseas</span></a></li>
                        <li><a href="#tab-places-all" data-toggle="tab">Current</span></a></li>
                        <li><a href="#tab-places-destroyed" data-toggle="tab">Historical</a></li>
                        <li class="pull-right">
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#admin_places_add" aria-hidden="true" href="#"><i class="fa fa-plus"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-places-recent">

                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.recent %}
{% if place.num_events > 0 %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>

                        </div>
                        <div class="tab-pane" id="tab-places-overseas">

                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.overseas %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                    </div>
                                </li>
                                
{% endfor %}
                                
                            </ul>
                        </p>

                        </div>
                        <div class="tab-pane" id="tab-places-all">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                        <span class="product-description">
                                            {{ place.num_events }} events</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>
                        <div class="tab-pane" id="tab-places-destroyed">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists == False %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                        <span class="product-description">
                                            {{ place.num_events }} events</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>

                    </div>
                </div>
            
            </div>
        </div>
    </div>

</section>

{% include 'viewer/cards/placeeditor.html' %}
