{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Place</small>
    </h1>
    
    <ol class="breadcrumb">
        <li><a href="#places">Places</a></li>
        <li>{{ data.label }}</li>
    </ol>
    
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">

                <div class="box box-primary">
                    <div class="box-body box-profile">
                        {% if data.image %}<img class="profile-user-img img-responsive img-circle" src="places/{{ data.uid }}_thumb.jpg" alt="Profile picture">{% endif %}
                        <h3 class="profile-username text-center">{{ data.label }}</h3>
                        <p class="text-muted text-center">{{ data.address }}</p>
                        <ul class="list-group list-group-unbordered">
{% if data.parent %}<li class="list-group-item"><b>Located within</b> <span class="pull-right"><a href="#place_{{ data.parent.uid }}">{{ data.parent.label }}</a></span></li>{% endif %}
{% if data.city %}<li class="list-group-item"><b>City</b> <span class="pull-right"><a href="#{{ data.city.slug }}">{{ data.city }}</a></span></li>{% endif %}
{% if data.country %}<li class="list-group-item"><b>Country</b> <span class="pull-right"><a href="#{{ data.country.slug }}">{{ data.country }}</a></span></li>{% endif %}
                        </ul>
{% if data.tags.count > 0 %}
{% for tag in data.tags.all %}<a href="#tag_{{ tag.id|safe }}"><span style="background-color: {{ tag.colour }};" class="badge">{{ tag.id }}</span></a> {% endfor %}
{% endif %}
                    </div>
                    <div class="box-footer">
                        <span class="pull-right"><a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#admin_places_add" aria-hidden="true">Edit Place</a></span>
                    </div>
                </div>

                <div class="box box-primary">
                    <div class="box-body">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
                    </div>
                </div>

{% if data.events.count > 1 %}

                <div class="box box-primary">
                    <div class="box-body">
			<canvas class="donut-chart" data-data="{{ data.weekdays.values|escape }}" data-labels="{{ data.weekdays.json|escape }}"></canvas>
                        <ul class="list-group list-group-unbordered">
                          <li class="list-group-item"><b>Average visit</b><span class="pull-right">{{ data.average_event }}</span></li>
                          <li class="list-group-item"><b>Longest visit</b><span class="pull-right">{{ data.longest_event }}</span></li>
                          {% if data.categories.count > 0 %}<li class="list-group-item"><b>Categories</b><span class="pull-right">{% for category in data.categories.all %}{{ category }}<br/>{% endfor %}</span></li>{% endif %}
                        </ul>

                    </div>
                </div>

{% endif %}
{% if data.schema_classes|length > 1 %}

                <div class="box box-primary">
                    <div class="box-body no-padding">
			<table class="table table-inline">
{% for sc in data.schema_classes %}
                          <li class="list-group-item">
				<b>{{ sc.label }}</b>
				{% if sc.comment %}<br/><small class="muted">{{ sc.comment|safe }}</small>{% endif %}
                          </li>
{% endfor %}
                        </table>
                    </div>
                </div>

{% endif %}

                            
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">


{% if data.people.count > 0 or data.events.count > 0 %}
            
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profile-tab-events" data-toggle="tab">Events</a></li>
                        <li><a href="#profile-tab-people" data-toggle="tab">People</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="profile-tab-events">

{% for event in data.events.all|dictsortreversed:"start_time" %}
                        
                            <div class="post">
                                <div class="user-block">
                                    <span class="username no-image">{{ event }}<a class="pull-right btn btn-primary btn-xs eventlink" href="#event_{{ event.id }}">View Event</a></span>
                                    <span class="description no-image">{{ event.start_time|date:"D jS M Y, g:ia" }}{% if event.location %} | {{ event.length_string }}{% endif %}</span>
                                </div>

                                {% if event.description %}<p>{{ event.description }}</p>{% endif %}

{% for person in event.people.all %}

                                {% if person.image %}<a href="#person_{{ person.uid }}"><img src="people/{{ person.uid }}_thumb.jpg" alt="{{ person }}" height="50" width="50"></a>{% endif %}

{% endfor %}


                            </div>

{% endfor %}
                    
                        </div>
                        <div class="tab-pane" id="profile-tab-people">

{% if data.people %}

                            <ul class="users-list clearfix">

{% for item in data.people %}
                        
                                <li>
                                    {% if item.image %}<img class="profile-user-img img-responsive" src="people/{{ item.uid }}_thumb.jpg"/>{% else %}<img class="profile-user-img img-responsive" src="{% static "viewer/graphics/unknown_person.jpg" %}">{% endif %}
                                    <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                        {{ item.full_name }}</a>
                                </li>

{% endfor %}
                            
                            </ul>

{% endif %}

                    
                        </div>
                    </div>
                </div>

{% endif %}

            </div>

        </div>
    </div>

</section>
{% include 'viewer/modal/placeeditor.html' %}
