{% load static %}

<section class="content-header">
    <h1>
        Questionnaires
    </h1>
    <ol class="breadcrumb">
        <li>Questionnaires</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">


                <div class="box box-primary">
                    <div class="box-body">

{% with items=items %}
{% if items.count == 0 %}
			<p>No questionnaires added yet.</p>
{% else %}
{% for item in items.all %}

                        <div class="post" id="q_box_id_{{ item.pk }}">
                            <div class="user-block">
                                <span class="username no-image">{{ item.label }}</span>
                                <span class="description no-image">{% if item.description %}<p>{{ item.description }}</p>{% endif %}<p>{{ item.question_count }} questions
				{% if item.last_taken %}| Last taken: {{ item.last_taken|date:"D jS M, g:ia" }}{% endif %}</p>
                                <span class="pull-right"><a class="btn btn-primary" href="#questionnaire_{{ item.pk }}">Take Questionnaire</a></span>
				</span>
                            </div>

                        </div>

{% endfor %}
{% endif %}
{% endwith %}

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
