{% load static %}

<section class="content-header">
    <h1>
        {{ item.label }}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#questionnaires">Questionnaires</a></li>
        <li>{{ item.label }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="box box-primary">
                    <div class="box-body">
			<form id="questionnaireform" action="questionnaires/{{ item.pk }}.html" method="POST">{% csrf_token %}

{% with items=item.questions %}
{% if items.count == 0 %}
                        <p>No questions added yet.</p>
{% else %}
                        <div class="post">
                            <div class="user-block">
                                <span class="username no-image">{{ item.label }}</span>
                                <span class="description no-image">
					<p>{{ item.intro_text }}</p>
                                </span>
                            </div>

                        </div>
{% for item in items.all %}

                        <div class="post" id="qq_box_id_{{ item.pk }}">
                            <div class="user-block">
                                <span class="username no-image">{{ item.question }}</span>
                                <span class="description no-image">

					<div class="form-group">
{% for answer in item.answers.all %}
						<label><input type="radio" name="val{{ item.pk }}" value="{{ answer.pk }}"> {{ answer }}</label><br/>
{% endfor %}
					</div>
                                </span>
                            </div>

                        </div>

{% endfor %}
{% endif %}
{% endwith %}

			</form>

                    </div>
                    <div class="box-footer">
			<span class="pull-right">
				<a id="questionnairesubmit" class="btn btn-primary">Submit Answers</a>
			</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
