{% load static %}

<section class="content-header">
    <h1>
        Questionnaires
    </h1>
    <ol class="breadcrumb">
        <li>Questionnaires</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">


                <div class="box box-primary">
                    <div class="box-body">

{% with items=items %}
{% if items.count == 0 %}
			<p>No questionnaires added yet.</p>
{% else %}
{% for item in items.all %}

                        <div class="post" id="q_box_id_{{ item.pk }}">
                            <div class="user-block">
                                <span class="pull-right">
                                        <a class="btn btn-success btn-xs" href="#questionnaireview_{{ item.pk }}">Answer</a>
                                        <a class="btn btn-primary btn-xs" href="#questionnaire_{{ item.pk }}">Edit</a>
                                        <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#admin_q_delete_{{ item.pk }}" aria-hidden="true" href="#">Delete</a>
                                </span>
                                <span class="username no-image">{{ item.label }}</span>
                                <span class="description no-image">{{ item.questions.count }} questions
				{% if item.last_taken %}| Last taken: {{ item.last_taken|date:"D jS M, g:ia" }}{% endif %}
				</span>
                            </div>

                        </div>

{% endfor %}
{% endif %}
{% endwith %}

                    </div>
                    <div class="box-footer">
			<span class="pull-right">
				<a class="btn btn-success" data-toggle="modal" data-target="#q-add" aria-hidden="true">New Questionnaire</a>
			</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

{% include 'viewer/modal/questionnaireeditor.html' %}

{% for item in items.all %}

<div class="modal fade nav-tabs-custom" id="admin_q_delete_{{ item.pk }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <h1>Are you sure?</h1>
                <p>This will delete "{{ item.label }}" and cannot be undone.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger q-delete-form-button" data-q-id="{{ item.pk }}">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}
