{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Report</small>
    </h1>
    
    <ol class="breadcrumb">
        <li><a href="#reports">Reports</a></li>
        <li>{{ data.label }}</li>
    </ol>
    
</section>

<section class="content">

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box box-primary">
                    <div class="box-body box-profile">
			<h3 class="profile username text-center">{{ data.year }}</h3>
			<p class="text-muted text-center">{{ data.label }}</p>
			<ul class="list-group list-group-unbordered">
				<li class="list-group-item"><b>Date created</b><small class="pull-right">{{ data.created_date }}</small></li>
				<li class="list-group-item"><b>Life Events</b><small class="pull-right">{{ data.life_events.count }}</small></li>
				<li class="list-group-item"><b>Places Visited</b><small class="pull-right">{{ data.locations.count }}</small></li>
				<li class="list-group-item"><b>People Encountered</b><small class="pull-right">{{ data.people.count }}</small></li>
			</ul>
                    </div>
                </div>
                <div class="box box-primary box-solid">
		    <div class="box-header with-border"><h3 class="box-title">Categories</h3></div>
                    <div class="box-body no-padding">
			<ul class="nav nav-pills nav-stacked">

{% for category in data.categories %}

				{% if page == category %}<li class="active"><a>{{ category }}</a></li>{% else %}<li><a href="#report_{{ data.pk }}_{{ category }}">{{ category }}</a></li>{% endif %}

{% endfor %}

			</ul>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">

{% if data.geo != '' %}

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#report-tab-places" data-toggle="tab">Places</a></li>
                    <li><a href="#report-tab-people" data-toggle="tab">People</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="report-tab-places">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
                    </div>
                    <div class="tab-pane" id="report-tab-people">
{% for person in data.people.all %}

         	      {% if person.image %}<a href="#person_{{ person.uid }}"><img class="img-bordered" src="people/{{ person.uid }}_thumb.jpg" alt="{{ person }}" height="50" width="50"></a>{% endif %}

{% endfor %}
                    </div>
                </div>
            </div>

{% endif %}

	        <div class="row">

{% for property in data.properties.all %}{% if property.category == page %}

                    <div class="col-xs-12 col-sm-12 col-md-6">
	                <div class="info-box bg-blue">
	                    <span class="info-box-icon"><i class="fa fa-{{ property.icon }}"></i></span>
	                    <div class="info-box-content">
	                        <span class="info-box-text">{{ property.key }}</span>
	                        <span class="info-box-number">{{ property.value }}</span>
	                        {% if property.description %}<span class="progress-description">{{ property.description }}</span>{% endif %}
	                    </div>
	                </div>
                    </div>

{% endif %}{% endfor %}

		</div>

	        <div class="row">

{% for graph in data.graphs.all %}{% if graph.category == page %}

	            <div class="col-xs-12 col-sm-12 col-md-6">
	                <div class="box box-primary">
	                    <div class="box-header with-border">
	                        <h3 class="box-title">{{ graph.key }}</h3>
	                    </div>
	                    <div class="box-body">

				<canvas class="report-graph" data-type="{{ graph.type }}" data-data="{{ graph.data }}"/>

	                    </div>
	                </div>
	            </div>

{% endif %}{% endfor %}
{% for chart in data.charts.all %}{% if chart.category == page %}

	            <div class="col-xs-12 col-sm-12 col-md-12">
	                <div class="box box-primary">
	                    <div class="box-header with-border">
	                        <h3 class="box-title">{{ chart.text }}</h3>
	                    </div>
	                    <div class="box-body no-padding">

				<table class="table table-condensed">
	{% for item in chart.to_dict %}

					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ item.text }}</td>
						<td>{{ item.value }}</td>
					</tr>

	{% endfor %}
				</table>

	                    </div>
	                </div>
	            </div>

{% endif %}{% endfor %}

		</div>


	        <div class="row">
	            <div class="col-xs-12 col-sm-12 col-md-12">

{% for event in data.life_events %}

	                <div class="box box-primary">
	                    <div class="box-header with-border">
	                        <h3 class="box-title">{{ event.caption }}</h3>
				<span class="pull-right"><a href="#event_{{ event.id }}" class="btn btn-xs btn-primary">View Event</a></span>
	                    </div>
	                    <div class="box-body">
				{% if event.cover_photo %}<img width="100" height="100" src="photo/{{ event.cover_photo.id }}_thumb.jpg" class="pull-right img-bordered"/>{% endif %}
				{{ event.description_html|safe }}

	                    </div>
	                </div>

{% endfor %}

{% for event in data.diary_entries %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
			<span class="pull-right"><a href="#event_{{ event.id }}" class="btn btn-xs btn-primary">View Event</a></span>
                    </div>
                    <div class="box-body">
			<small class="muted">{{ event.start_time_local|date:"l jS F" }}</small><br>
			{{ event.description_html|safe }}
                    </div>
                </div>

{% endfor %}

	            </div>
	        </div>

	</div>


    </div>

</section>

