{% load static %}

<section class="content-header">
    <h1>
        Tags
    </h1>
    <ol class="breadcrumb">
        <li>Tags</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">


                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-body">

{% for tag in data.all %}
{% if tag.id != '' %}

                        <div class="post">
                            <div class="user-block">
				<span class="pull-right">
					<a class="btn btn-secondary btn-xs tagrulelink" href="#tagrules_{{ tag.id }}">View Rules</a>
					<a class="btn btn-primary btn-xs eventlink" href="#tag_{{ tag.id }}">View Events</a>
				</span>
                                <span class="username no-image"><i class="fa fa-tag" style="color: {{ tag.colour }};"></i>&nbsp;{{ tag.id }}</span>
                                <span class="description no-image">{{ tag.num_events }} events{% if tag.photo_tag %} | {{ tag.photo_tag.photos.count }} photos{% endif %}{% if tag.rules.count > 0 %} | {{ tag.rules.count }} rules{% endif %}</span>
                            </div>

                        </div>

{% endif %}
{% endfor %}                        

                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

