{% load static %}
{% load tz %}
{% load class_tag %}
{% load humanize %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Year</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">{{ year }}</h3>
                    <p class="text-muted text-center">This year is still ongoing. The stats are incomplete and this page will change often as more data becomes available.</p>

		    <p><b>Year progress</b><span class="pull-right">{{ year.year_progress }}%</span></p>
		    <div class="progress progress-sm">
			<div class="progress-bar" role="progressbar" aria-valuenow="{{ year.year_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ year.year_progress }}%;"></div>
		    </div>

{% include 'viewer/cards/year_switcher.html' %}

                </div>
            </div>

{% with countries=year.countries %}
{% if countries %}

        {% include 'viewer/cards/yearcountries.html' %}

{% endif %}
{% endwith %}

{% with tasks=year.tasks_completed %}
{% if tasks %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tasks completed</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">
{% for task in tasks %}
                                <tr>
                                        <td>{{ task }}</td>
                                </tr>
{% endfor %}
                        </table>

                </div>
            </div>

{% endif %}
{% endwith %}

            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">

{% with workouts=year.workouts %}
{% if workouts %}

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Health</h3>
                </div>
                <div class="box-body no-padding">

                        <table class="table table-condensed">

{% for wc in workouts %}
                                <tr>
                                        <th>{{ wc.0 }}&nbsp;distance</th>
					<td style="width:100%;"><div class="progress progress-xs" style="width: 100%; background-color: rgba(0, 0, 0, 0)"><div class="progress-bar progress-bar-primary" style="width: {{ wc.2 }}%;"></div></div></td>
                                        <td><span class="pull-right">{{ wc.1 }}&nbsp;miles</span></td>
                                </tr>
{% endfor %}
{% with steps=year.steps %}
{% if steps > 0 %}
				<tr>
					<th>Total steps</th>
					<td colspan="2"><span class="pull-right">{{ steps|intcomma }}</span></td>
				</tr>
{% endif %}
{% endwith %}
                        </table>


                </div>
            </div>
{% endif %}
{% endwith %}

{% for category in year.get_stat_categories %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ category.capitalize }}</h3>
                    </div>
                    <div class="box-body no-padding">

{% with properties=year.properties.distinct %}
{% if properties %}

<table class="table table-condensed">
{% for property in properties %}
{% if property.category == category %}
	<tr>
		<th width="100%">{{ property.key }}</th>
		<td><span class="pull-right"><nobr>{{ property.value|intcomma }}{% if property.description %}&nbsp;<small>&nbsp;({{ property.description }})</small>{% endif %}</nobr></span></td>
	</tr>
{% endif %}
{% endfor %}
</table>

{% endif %}
{% endwith %}


                    </div>
                </div>

{% endfor %}


            </div>
        </div>
    </div>

</section>
