{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Transit Method</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#tags">Transit Methods</a></li>
        <li>{{ data.label }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">


                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-body box-profile">

                        <h3 class="profile-username text-center">{{ data.label }}</h3>
                        <p class="text-muted text-center">Transit Method</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item"><b>Events</b> <span class="pull-right">{{ data.events.count }}</span></li>
                            <li class="list-group-item"><b>Last Event</b> <span class="pull-right">{{ data.last_event|date:"jS F Y" }}</span></li>
                            <li class="list-group-item"><b>First Event</b> <span class="pull-right">{{ data.first_event|date:"jS F Y" }}</span></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-8">

{% with events=data.events_sorted %}{% include 'viewer/cards/eventtable.html' %}{% endwith %}

            </div>
        </div>
    </div>

</section>

