{% extends 'adminlte/lib/_main_header.html' %}

{% block header_dropdowns %}

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
    <ul class="dropdown-menu">
        <li class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
        </li>
    </ul>
</li>

{% endblock header_dropdowns %}

{% block logo %}
<a href="{% block logo_href %}/viewer{% endblock %}" class="logo">
    <span class="logo-mini"><b>&#x59B9;</b></span>
    <span class="logo-lg"><b>&#x59B9; Imouto</b> Viewer</span>
</a>
{% endblock %}
