<section class="content-header">
    <h1>
        Events
        <small>Calendar</small>
    </h1>
    <ol class="breadcrumb">
        <li>Events</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-9">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-calendar-all" data-toggle="tab">Calendar</a></li>
                        <li><a href="#tab-calendar-event" data-toggle="tab">Life Events</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-calendar-all">

                            <div id="calendar"></div>

                        </div>
                        <div class="tab-pane" id="tab-calendar-event">

{% for event in data.life %}

                        <div class="post">
                            <div class="user-block">
                                <span class="username no-image">{{ event }}<a class="pull-right btn btn-primary btn-xs eventlink" href="#event_{{ event.id }}">View Event</a></span>
                                <span class="description no-image">{{ event.start_time }}{% if event.location %} | {{ event.location }}{% endif %}</span>
                            </div>

                            {% if event.description %}<p>{{ event.description }}</p>{% endif %}

{% for person in event.people.all %}

                            {% if person.image %}<a href="#person_{{ person.uid }}"><img class="img-circle img-bordered-sm" src="people/{{ person.uid }}_thumb.jpg" alt="{{ person }}" height="50" width="50"></a>{% endif %}

{% endfor %}


                        </div>

{% endfor %}
                        
                        </div>
                    </div>

                </div>
            
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-event-event" data-toggle="tab"><i class="fa fa-calendar"></i></a></li>
                        <li><a href="#tab-event-photo" data-toggle="tab"><i class="fa fa-camera-retro"></i></a></li>
                        <li><a href="#tab-event-journey" data-toggle="tab"><i class="fa fa-road"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-event-event">

{% for event in data.event %}

                            <div class="users-list-name">
                                <p><a href="#event_{{ event.id }}">{{ event.caption }}</a><br/>
                                <small>{{ event.start_time }}</small></p>
                            </div>

{% endfor %}

                        </div>
                        <div class="tab-pane" id="tab-event-photo">

{% for event in data.photo %}

                            <div class="users-list-name">
                                <p><a href="#event_{{ event.id }}">{{ event.caption }}</a><br/>
                                <small>{{ event.start_time }}</small></p>
                            </div>

{% endfor %}

                        </div>
                        <div class="tab-pane" id="tab-event-journey">

{% for event in data.journey %}

                            <div class="users-list-name">
                                <p><a href="#event_{{ event.id }}">{{ event.caption }}</a><br/>
                                <small>{{ event.start_time }}</small></p>
                            </div>

{% endfor %}

                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>

</section>
