{% load static %}

<section class="content-header">
    <h1>
        Summary
        <small>This Week</small>
    </h1>
    <ol class="breadcrumb">
        <li>Summary</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-comment-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Messages</span>
                        <span class="info-box-number">{{ data.stats.messages }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">
                            Phone Calls</span>
                        <span class="info-box-number">{{ data.stats.phone_calls }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-camera-retro"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Photos</span>
                        <span class="info-box-number">{{ data.stats.photos }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-road"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Steps</span>
                        <span class="info-box-number">{{ data.stats.steps }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Steps</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="bar-chart" style="height: 230px" data-data="{{ data.steps }}"></canvas>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Heart Rate</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="bar-chart" style="height: 230px" data-legend="[&quot;>50% of max&quot;,&quot;>70% of max&quot;]" data-data="{{ data.heart }}"></canvas>
                        </div>                        
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sleep</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="bar-chart" style="height: 230px" data-legend="[&quot;Restless sleep&quot;,&quot;Deep sleep&quot;]" data-data="{{ data.sleep }}"></canvas>
                        </div>                        
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Places Visited</h3>
                    </div>
                    <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                
{% for item in data.places %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if item.image %}<img src="places/{{ item.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title placelink" href="#place_{{ item.uid }}">
                                            {{ item }}</a>
                                        <span class="product-description">
                                            {{ item.address }}</span>
                                    </div>
                                </li>
                                
{% endfor %}
                                
                            </ul>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Longest Walks</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>

{% for walk in data.walks %}

                                    <tr>
                                        <td>{{ walk.friendly_time }}<br><small class="muted">{{ walk.friendly_length }}</small></a></td>
                                    </tr>

{% endfor %}

                                </tbody>
                            </table>
                        </div>                                
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Top Contacts</h3>
                    </div>
                    <div class="box-body">
                            <ul class="products-list product-list-in-box">
                                
{% for item in data.contact %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if item.person.image %}<img src="people/{{ item.person.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#person_{{ item.person.uid }}">
                                            {{ item.person.full_name }}</a>
                                        <span class="product-description">
                                            {{ item.messages }} messages sent/received</span>
                                    </div>
                                </li>
                                
{% endfor %}
                                
                            </ul>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">People Encountered</h3>
                    </div>
                    <div class="box-body">
                            <ul class="users-list clearfix">
                                
{% for item in data.people %}
{% if item.image %}

                                <li>
                                    <img class="profile-user-img img-responsive" src="people/{{ item.uid }}_thumb.jpg"/>
                                    <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                        {{ item.full_name }}</a>
                                </li>

{% endif %}
{% endfor %}
{% for item in data.people %}
{% if item.image == None %}

                                <li>
                                    <img class="profile-user-img img-responsive" src="{% static "viewer/graphics/unknown_person.jpg" %}">
                                    <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                        {{ item.full_name }}</a>
                                </li>

{% endif %}
{% endfor %}
                                
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
