{% load static %}

<section class="content-header">
    <h1>
        {{ caption }}
        <small>Day</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">

{% for event in events %}

                <div class="box box-primary" id="day_event_{{ event.pk }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ event.caption }}</h3>
                        <span class="pull-right">
                          {{ event.start_time|date:"l g:ia" }}
                        </span>
                    </div>
                    <div class="box-body">
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary btn-xs" href="#event_{{ event.pk }}">Read more</a>
                        <span class="pull-right">
                            <span>
                                <a class="btn btn-danger btn-xs eventdelete" data-event-id="{{ event.pk }}" href="#event_{{ event.pk }}">Delete</a>
                            </span>
                        </span>
                    </div>

                </div>

{% endfor %}


            </div>
        </div>
    </div>

</section>


<div class="modal fade nav-tabs-custom" id="timeline_event_delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <p>Are you sure you want to permanently delete this event?</p>
                
                <form id="timeline-event-delete">
                    <input type="hidden" id="delete-id" name="delete-id" value="" />
                </form>
            
                <button type="button" id="event-delete-button" class="btn btn-danger timeline-event-delete-form-button">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

