{% load static %}

<section class="content-header">
    <h1>
        {{ data.caption }}
        <small>Event</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Events</a></li>
        <li>{{ data.caption }}</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">

{% if data.location.image %}

                <div class="box box-primary box-event-banner" style="background-image: url(places/{{ data.location.uid }}.jpg);">
                    <div class="box-body">
                        <div class="bottom-cling">
                            <h2>{{ data.location }}</h2>
    {% if data.description != '' %}
                            <p>{{ data.description_html|safe }}</p>
    {% endif %}
                        </div>
                    </div>
                </div>

{% elif data.description != '' %}

                <div class="box box-primary">
                    <div class="box-body">
                        <p>{{ data.description_html|safe }}</p>
                    </div>
                </div>
{% endif %}

{% if data.geo != '' %}

                <div class="box box-primary">
                    <div class="box-body">
    {% if data.description == '' and data.photos.count == 0 and data.music.count == 0 %}
                        <div id="map{{ data.pk }}" class="journeyeventmap eventmap" data-geojson="{{ data.geo }}"></div>
    {% else %}
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
    {% endif %}
                    </div>
                </div>
{% endif %}

{% if data.health.heart != None %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Heart Rate</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas class="time-chart" style="height: 160px" data-data="{{ data.health.heart|escape }}"></canvas>
                        </div>
                    </div>
                </div>

{% endif %}
            
{% if data.people.all.count > 0 %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            People</h3>
                    </div>
                    <div class="box-body">
                        <ul class="users-list clearfix">

{% for item in data.people.all %}
                        
                            <li>
                                {% if item.image %}<img class="profile-user-img img-responsive" src="people/{{ item.uid }}_thumb.jpg"/>{% else %}<img class="profile-user-img img-responsive img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}">{% endif %}
                                <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                    {{ item.full_name }}</a>
                            </li>

{% endfor %}

                        </ul>
                    </div>
                </div>

{% endif %}

{% if data.health.sleep != None %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sleep</h3>
                    </div>
                    <div class="box-body">

                        <div>
                            <span>{{ data.health.sleep.start|date:"g:i a" }}</span>
                            <span class="pull-right">{{ data.health.sleep.end|date:"g:i a" }}</span>
                        </div>
                        <div class="progress-group">
                            <div class="progress sleep-bar">
                        
        {% for bar in data.health.sleep.data %}

                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ bar.2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar.2 }}%; background-color: {% if bar.0 == 0 %}rgba(0, 0, 0, 0){% endif %}{% if bar.0 == 1 %}#ABC1D8{% endif %}{% if bar.0 == 2 %}#3C8DBC{% endif %};"></div>

        {% endfor %}

                            </div>
                        </div>

                    </div>
                </div>
                             
{% endif %}


{% for conversation in data.sms %}

                <div class="box box-primary">
                    <div class="box-header with-border">
    {% if conversation.0.person %}
                        <h3 class="box-title">SMS with <a href="#person_{{ conversation.0.person.uid }}">{{ conversation.0.person.full_name }}</a></h3>
    {% else %}
                        <h3 class="box-title">SMS conversation</h3>
    {% endif %}
                    </div>
                    <div class="box-body">

{% for sms in conversation %}

                    {% if sms.incoming %}<p class="message-incoming">{% else %}<p class="message-outgoing">{% endif %}<small>{{ sms.time }}</small><br>{{ sms.message }}</p>

{% endfor %}
                    
                    </div>
                </div>

{% endfor %}

{% if data.music.count > 0 %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Music Played</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-inline">

                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Track</th>
                            </tr>
                            </thead>
                            <tbody>
                                                                    
{% for track in data.music.all %}

                            <tr>
                                <td>{{ track.time|date:"H:i" }}</td>
                                <td>{{ track.media.label }}</td>
                                <td><a href="#music_{{ track.media.unique_id }}">Details</a></td>
                            </tr>

{% endfor %}

                            </tbody>

                        </table>

                    </div>
                </div>

{% endif %}

{% if data.photos.count > 0 %}

                <div class="box box-primary">
                    <div class="box-body">

{% for photo in data.photos %}

                    <a href="photo/{{ photo.pk }}.jpg" target="_blank"><img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100"></a>

{% endfor %}

                    </div>
                </div>

{% endif %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">

{% if data.location != None and data.geo == '' %}

                <div class="box box-primary">
                    <div class="box-body">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.location.geo }}"></div>
                    </div>
                </div>

{% endif %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-calendar-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Event Date</span>
                        <span class="info-box-number">{{ data.start_time|date:"jS F Y" }}</span>
                        <span class="info-box-text">{{ data.start_time|date:"l, g:i a" }}</span>
                    </div>
                </div>

{% if data.location != None %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-map-marker"></i></span>
                    <div class="info-box-content" style="overflow: hidden !important;">
                        <span class="info-box-text">Location</span>
                        <span class="info-box-number" style="max-height: 2.5em;"><a href="#place_{{ data.location.uid }}">{{ data.location }}</a></span>
                    </div>
                </div>

{% endif %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-clock-o"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Duration</span>
                        <span class="info-box-number">{{ data.length_string }}</span>
                    </div>
                </div>

{% if data.distance > 0 %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-map-signs"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Distance</span>
                        <span class="info-box-number">{{ data.distance }}&nbsp;miles</span>
                    </div>
                </div>

{% endif %}

{% if data.music %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-music"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Tracks</span>
                        <span class="info-box-number">{{ data.music|length }}</span>
                    </div>
                </div>

{% endif %}

{% if data.health.steps != None %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-road"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Total Steps</span>
                        <span class="info-box-number">{{ data.health.steps }}</span>
                    </div>
                </div>

{% endif %}
{% if data.health.heartavg != None %}

                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-heartbeat"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Heart Rate</span>
                        <span class="info-box-number">{{ data.health.heartavg }} bpm <small>(av)</small></span>
                        <span class="info-box-number">{{ data.health.heartmax }} bpm <small>(max)</small></span>
                    </div>
                </div>

{% endif %}

{% if data.subevents.count > 0 %}

                <div class="box box-primary">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <tbody>
{% for item in data.subevents %}
                                    <tr>
                                        <td><a href="#event_{{ item.id }}"><small class="muted">{{ item.start_time }}</small><br>{{ item.caption }}</a></td>
                                        <td><span class="badge">{{ item.type }}</span></td>
                                    </tr>
{% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

{% endif %}

                <div class="box box-primary">
                    <div class="box-body">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#admin_event_edit" aria-hidden="true">Edit Event</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#admin_event_people" aria-hidden="true">Edit People</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#admin_event_delete" aria-hidden="true">Delete</button>
                    </div>
                </div>



            </div>
        </div>
    </div>

</section>



<div class="modal fade nav-tabs-custom" id="admin_event_edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <form id="event-edit" action="events/{{ data.pk }}.html" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#label" data-toggle="tab">Event</a></li>
                            <li><a href="#link" data-toggle="tab">Narrative</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="label">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter != 3 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                              </table>
                        
                        </div>
                        <div class="tab-pane" id="link">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter == 3 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                              </table>

                        </div>
                    </div>

                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="event-save-form-button">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade nav-tabs-custom" id="admin_event_people" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

		<div class="input-group input-group-sm">

			<select id="person_add" class="form-control">
{% for person in people %}
				<option value="{{ person.uid }}">{{ person.full_name }}</option>
{% endfor %}
			</select>
			<span class="input-group-btn"><button class="btn btn-success btn-flat" type="button" id="person_add_submit">Add</button></span>

		</div>

		<div id="event_people_list">
{% for item in data.people.all %}
                        
                        <div class="person_delete" data-id="{{ item.uid }}">{{ item.full_name }} <small><a href="#" class="delete_person" data-id="{{ item.uid }}">Delete</a></small></div>

{% endfor %}
		</div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="event-people-save-form-button">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
