{% load static %}

<section class="content-header">
    <h1>
        Schedule
        <small>Health</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Health</a></li>
        <li>Schedule</li>
    </ol>
</section>

<section class="content">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#health-tab-week" data-toggle="tab">Week</a></li>
                    <li><a href="#health-tab-month" data-toggle="tab">Month</a></li>
                    <li><a href="#health-tab-year" data-toggle="tab">Year</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="health-tab-week">


                    </div>
                    <div class="tab-pane" id="health-tab-month">


                    </div>
                    <div class="tab-pane" id="health-tab-year">


                    </div>
                </div>
            </div>

                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">

			<table class="table table-hover">
				<tr>
					<td>Date</td>
					<td><span class="hidden-xs visible-lg">Time</span></td>
					<td><span class="hidden-xs visible-lg">Optimal Time</span></td>
					<td>Efficiency</td>
					<td>Distance</td>
					<td></td>
				</tr>

{% for event in events %}

				<tr>
					<td>
						<span class="hidden-lg"><a href="#event_{{ event.id }}">{{ event.start_time|date:"Y-m-d H:i" }}</a></span>
						<span class="hidden-xs visible-lg"><a href="#event_{{ event.id }}">{{ event.start_time|date:"l jS F Y, g:ia" }}</a></span>
					</td>
					<td><span class="hidden-xs visible-lg">{{ event.length_string }}</span></td>
					<td>{% if event.health.heartoptimaltime != None %}<span class="hidden-xs visible-lg">{{ event.health.heartoptimaltime }}</span>{% endif %}</td>
					<td>{% if event.health.efficiency != None %}{{ event.health.efficiency }}%{% endif %}</td>
					<td>{% if event.type == 'journey' %}{{ event.distance }}m{% endif %}</td>
					<td>
						<div class="pull-right">{% for category in event.workout_categories.all %}<span class="category"><i class="fa fa-{{ category.icon }}"></i></span>{% endfor %}</div>
					</td>
				</tr>

{% endfor %}

			</table>

                    </div>
                </div>



     </div>
</section>

