{% load static %}

<section class="content-header">
    <h1>
        Sleep
        <small>Report</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#events">Health</a></li>
        <li>Sleep</li>
    </ol>
</section>

<section class="content">

                <div class="box box-primary">
                    <div class="box-body" id="daysleepsummary">

                    </div>
                </div>

            </div>
     </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#health-tab-week" data-toggle="tab">Week</a></li>
                    <li><a href="#health-tab-month" data-toggle="tab">Month</a></li>
                    <li><a href="#health-tab-year" data-toggle="tab">Year</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="health-tab-week">

                        <div class="chart">
                            <canvas class="sleep-area-chart" style="height: 230px" data-data="{{ data.stats.0.graph }}"></canvas>
                        </div>

                    </div>
                    <div class="tab-pane" id="health-tab-month">

                        <div class="chart">
                            <canvas class="sleep-area-chart" style="height: 230px" data-data="{{ data.stats.1.graph }}"></canvas>
                        </div>

                    </div>
                    <div class="tab-pane" id="health-tab-year">

                        <div class="chart">
                            <canvas class="sleep-area-chart" style="height: 230px" data-data="{{ data.stats.2.graph }}"></canvas>
                        </div>

                    </div>
                </div>
            </div>

</section>

