{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}Imouto Viewer{% endblock %}
{% block nav_header %}
    {% include 'viewer/_main_header.html' %}
{% endblock %}
{% block nav_footer %}
    {% include 'viewer/_main_footer.html' %}
{% endblock %}
{% block nav_sidebar %}
    {% include 'viewer/_main_sidebar.html' %}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static "libraries/chart/Chart.css" %}" />
    <link rel="stylesheet" href="{% static "libraries/leaflet/leaflet.css" %}" />
    <link rel="stylesheet" href="{% static "libraries/fullcalendar/fullcalendar.min.css" %}" />
    <link rel="stylesheet" href="{% static "viewer/styles/imouto.css" %}" />
{% endblock %}
{% block extra_foot %}
    {% include 'viewer/search.html' %}    
{% endblock %}
{% block javascript %}

  {{ block.super }}
  <script src="{% static "libraries/chart/Chart.bundle.js" %}"></script>
  <script src="{% static "libraries/leaflet/leaflet.js" %}"></script>
  <script src="{% static "libraries/moment/moment.min.js" %}"></script>
  <script src="{% static "libraries/fullcalendar/fullcalendar.min.js" %}"></script>
  <script src="script/imouto.js"></script>

{% endblock %}
{% block content_header %}
<section class="content-header">
    <h1>
        Summary
    </h1>
    {% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>Summary</li>
    </ol>
    {% endblock %}
</section>
{% endblock %}

{% block content %}

{% endblock %}
