{% load static %}

<section class="content-header">
    <h1>
        On This Day
    </h1>
    <ol class="breadcrumb">
        <li>On This Day</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">

{% for year in data %}

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-9">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ year.label }}</h3>
{% if year.country %}
                        <h3 class="box-title pull-right">{{ year.country }}</h3>
{% endif %}
                    </div>
                    <div class="box-body">

{% for event in year.events %}
{% if event.type == 'life_event' %}

                        <h4><a href="#event_{{ event.id }}">{{ event.caption }}</a></h4>

{% endif %}
{% endfor %}

{% for event in year.events %}
{% if event.type == 'event' %}

                        <p><a href="#event_{{ event.id }}"><i class="fa fa-calendar"></i>&nbsp;{{ event.caption }}</a><br>
                        <small class="muted">{{ event.start_time|date:"jS F, g:ia" }}</small></p>

{% endif %}
{% endfor %}

{% for event in year.events %}
{% if event.type == 'loc_prox' and event.description != '' %}

                        <p><a href="#event_{{ event.id }}"><i class="fa fa-book"></i>&nbsp;{{ event.caption }}</a></p>

{% endif %}
{% endfor %}

{% for place in year.places %}

                        <p><a href="#place_{{ place.uid }}"><i class="fa fa-map-marker"></i>&nbsp;{% if place.full_label %}{{ place.full_label }}{% else %}{{ place.label }}{% endif %}</a></p>

{% endfor %}
{% for event in year.journeys %}

                        <p><a href="#event_{{ event.id }}"><i class="fa fa-map-signs"></i>&nbsp;{{ event.caption }}</a><br>
                        <small class="muted">{{ event.distance }} miles</small></p>

{% endfor %}

                        <div class="timeline-gallery">
                            {% for photo in year.photos %}{% if forloop.counter <= 12 %}<a href="photo/{{ photo.pk }}.jpg" target="_blank"><img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100"></a>{% endif %}{% endfor %}
                        </div>

{% if year.people %}

                        <div class="timeline-people-row">
                    {% for person in year.people %}
                        {% if person.image %}
                            <a href="#person_{{ person.uid }}"><img class="img-circle" src="people/{{ person.uid }}_thumb.jpg" width="50" height="50" alt="{{ person.full_name }}"></a>
                        {% endif %}
                    {% endfor %}
                    {% for person in year.people %}
                        {% if person.image == None %}
                            <a href="#person_{{ person.uid }}"><img class="img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}" width="50" height="50" alt="{{ person.full_name }}"></a>
                        {% endif %}
                    {% endfor %}
                        </div>

{% endif %}

                    </div>
                </div>

            </div>
        </div>

{% endfor %}

    </div>

</section>
