<section class="content-header">
    <h1>
        {{ data.full_name }}
        <small>Person</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#people">People</a></li>
        <li>{{ data.full_name }}</li>
    </ol>
</section>

<section class="content">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        
            <div class="box box-primary">
                <div class="box-body box-profile">
                    {% if data.image %}<img class="profile-user-img img-responsive img-circle" src="people/{{ data.uid }}_thumb.jpg" alt="Profile picture">{% endif %}
                    <h3 class="profile-username text-center">{{ data.full_name }}</h3>
                    <p class="text-muted text-center">Person</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item"><b>Events</b> <span class="pull-right">{{ data.get_stats.events }}</span></li>
                        <li class="list-group-item"><b>Places met</b> <span class="pull-right">{{ data.get_stats.places }}</span></li>
                        <li class="list-group-item"><b>Photos</b> <span class="pull-right">{{ data.get_stats.photos }}</span></li>
                    </ul>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About</h3>
                </div>
                <div class="box-body">
                
                    <strong><i class="fa fa-handshake-o margin-r-5"></i> First met</strong>
                    <p class="text-muted">{{ data.get_stats.first_met|date:"F Y" }}</p>

{% if data.birthday %}

                    <hr>
                    
                    <strong><i class="fa fa-birthday-cake margin-r-5"></i> Birthday</strong>
                    <p class="text-muted">{{ data.birthday|date:"jS F" }}</p>

{% endif %}
                    
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-9">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#profile-tab-events" data-toggle="tab">Events</a></li>
                    <li><a href="#profile-tab-places" data-toggle="tab">Places</a></li>
                    <li><a href="#profile-tab-photos" data-toggle="tab">Photos</a></li>
                    <li><a href="#profile-tab-properties" data-toggle="tab">Properties</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="profile-tab-events">

{% for event in data.events %}

                        <div class="post">
                            <div class="user-block">
                                <span class="username no-image">{{ event }}<a class="pull-right btn btn-primary btn-xs eventlink" href="#event_{{ event.id }}">View Event</a></span>
                                <span class="description no-image">{{ event.start_time }}{% if event.location %} | {{ event.location }}{% endif %}</span>
                            </div>

                            {% if event.description %}<p>{{ event.description }}</p>{% endif %}

{% for person in event.people.all %}

                            {% if person.image %}<a href="#person_{{ person.uid }}"><img class="img-circle img-bordered-sm" src="people/{{ person.uid }}_thumb.jpg" alt="{{ person }}" height="50" width="50"></a>{% endif %}

{% endfor %}


                        </div>

{% endfor %}
                    
                    </div>
                    <div class="tab-pane" id="profile-tab-places">

{% for place in data.places %}

                        <div class="post">
                            <div class="user-block">
                                {% if place.image %}<img class="img-circle img-bordered-sm" src="places/{{ place.uid }}_thumb.jpg" alt="Location image">{% endif %}
                                <span class="username"><a href="#place_{{ place.uid }}">{{ place.label }}</a></span>
                                <span class="description">{{ place.address }}</span>
                            </div>
                        </div>

{% endfor %}
                    
                    </div>
                    <div class="tab-pane" id="profile-tab-photos">

{% for photo in data.photos %}

                        <img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100">

{% endfor %}

                    </div>
                    <div class="tab-pane" id="profile-tab-properties" class="no-padding">
                    
                        <table class="table table-condensed">
                        
                            <tr>
                                <th>Property</th>
                                <th>Value(s)</th>
                            </tr>
                        
{% for k,v in properties.items %}

                            <tr>
                                <td>{{ k }}</td>
                                <td>

    {% for value in v %}

                                    {{ value }}<br>

    {% endfor %}
    
                                </td>
                            </tr>

{% endfor %}

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>