{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Place</small>
    </h1>
    
    <ol class="breadcrumb">
        <li><a href="#places">Places</a></li>
        <li>{{ data.label }}</li>
    </ol>
    
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {{ data.label }}</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ data.address }}</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">

{% if data.people %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            People</h3>
                    </div>
                    <div class="box-body">
                        <ul class="users-list clearfix">

{% for item in data.people %}
                        
                            <li>
                                {% if item.image %}<img class="profile-user-img img-responsive img-circle" src="people/{{ item.uid }}_thumb.jpg"/>{% else %}<img class="profile-user-img img-responsive img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}">{% endif %}
                                <a class="users-list-name personlink" href="#person_{{ item.uid }}">
                                    {{ item.full_name }}</a>
                            </li>

{% endfor %}
                            
                        </ul>
                    </div>
                </div>

{% endif %}

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Events</h3>
                    </div>
                    <div class="box-body">

{% for item in data.events.all|dictsortreversed:"start_time" %}
                        
                            <p><a href="#event_{{ item.id }}">{{ item }}</a><br><small>{{ item.start_time }}</small></p>

{% endfor %}
                            
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>