<section class="content-header">
    <h1>
        Places
    </h1>
    <ol class="breadcrumb">
        <li>Places</li>
    </ol>
</section>

<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-places-recent" data-toggle="tab">Recent</a></li>
                        <li><a href="#tab-places-all" data-toggle="tab">Current</span></a></li>
                        <li><a href="#tab-places-destroyed" data-toggle="tab">Historical</a></li>
                        <li class="pull-right">
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#admin_places_add" aria-hidden="true" href="#"><i class="fa fa-plus"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="tab-places-recent">

                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.recent %}
{% if place.num_events > 0 %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>

                        </div>
                        <div class="tab-pane" id="tab-places-all">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                        <span class="product-description">
                                            {{ place.num_events }} events</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>
                        <div class="tab-pane" id="tab-places-destroyed">
                        <p>
                            <ul class="products-list product-list-in-box">
                                
{% for place in data.all %}
{% if place.num_events > 0 %}
{% if place.exists == False %}
                                
                                <li class="item">
                                    <div class="product-img">
                                        {% if place.image %}<img src="places/{{ place.uid }}_thumb.jpg"/>{% endif %}
                                    </div>
                                    <div class="product-info">
                                        <a class="product-title personlink" href="#place_{{ place.uid }}">
                                            {{ place }}</a>
                                        <span class="product-description">
                                            {{ place.address }}</span>
                                        <span class="product-description">
                                            {{ place.num_events }} events</span>
                                    </div>
                                </li>
                                
{% endif %}
{% endif %}
{% endfor %}
                                
                            </ul>
                        </p>
                        </div>

                    </div>
                </div>
            
            </div>
        </div>
    </div>

</section>

<div class="modal fade nav-tabs-custom" id="admin_places_add" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <form id="place-add" action="places.html" method="POST" enctype="multipart/form-data">{% csrf_token %}

                    <div role="tabpanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#label" data-toggle="tab">Label</a></li>
                            <li><a href="#loc" data-toggle="tab">Location</a></li>
                            <li><a href="#link" data-toggle="tab">Links</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="label">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter < 6 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                              </table>
                        
                        </div>
                        <div class="tab-pane" id="loc">

                              <div id="mapselect" class="mapselect"></div>
                        
                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter == 7 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% if forloop.counter == 8 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                              </table>

                        </div>
                        <div class="tab-pane" id="link">

                              <table class="table table-hover">
{% for field in form %}
{% if forloop.counter == 6 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% if forloop.counter > 8 %}
                                <tr class="form-row">
                                  <td>{{ field.errors }}</td>
                                  <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                                </tr>
{% endif %}
{% endfor %}
                              </table>

                        </div>
                    </div>

                </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-form-button">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
