{% load static %}

<section class="content-header">
    <h1>
        {{ data.label }}
        <small>Report</small>
    </h1>
    
    <ol class="breadcrumb">
        <li><a href="#reports">Reports</a></li>
        <li>{{ data.label }}</li>
    </ol>
    
</section>

<section class="content">

    <div class="container-fluid">

{% if data.geo != '' %}

        <div class="row">

                <div class="box box-primary">
                    <div class="box-body">
                        <div id="map{{ data.pk }}" class="eventmap" data-geojson="{{ data.geo }}"></div>
                    </div>
                </div>

        </div>

{% endif %}

{% if data.properties.count > 0 %}

        <div class="row">

{% for property in data.properties.all %}

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-{{ property.icon }}"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">{{ property.key }}</span>
                        <span class="info-box-number">{{ property.value }}</span>
                        {% if property.description %}<span class="progress-description">{{ property.description }}</span>{% endif %}
                    </div>
                </div>
            </div>

{% endfor %}

        </div>

{% endif %}


    </div>

</section>

