{% load static %}

<!-- timeline time label -->

    <li class="time-label">
        <span class="bg-blue">{{ data.label }}</span>
    </li>

<!-- /.timeline-label -->
    
    {% for event in data.events %}

    <!-- timeline item -->
    <li>

        {% if event.type == 'journey' %}<i class="fa fa-road bg-green"></i>{% endif %}
        {% if event.type == 'photo' %}<i class="fa fa-camera bg-orange"></i>{% endif %}
        {% if event.type == 'loc_prox' %}<i class="fa fa-map-marker bg-blue"></i>{% endif %}
        {% if event.type == 'event' %}<i class="fa fa-calendar bg-white"></i>{% endif %}
        {% if event.type == 'sleepover' %}<i class="fa fa-moon-o bg-black"></i>{% endif %}
        
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ event.start_time|date:"g:ia" }}</span>
            
            <h3 class="timeline-header no-border">{{ event }}</h3>
            <div class="timeline-body">
            {% if event.geo != '' %}<div id="map{{ event.pk }}" class="eventmap" data-geojson="{{ event.geo }}"></div>{% endif %}
            <div>
                {% for photo in event.photos %}{% if forloop.counter <= 5 %}<img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100">{% endif %}{% endfor %}
            </div>
            {% if event.description != '' %}<p>{{ event.description }}</p>{% endif %}
            {% if event.people.count > 0 %}
            <div class="timeline-people-row">
            {% for person in event.people.all %}
                {% if person.image %}
                <a href="#person_{{ person.uid }}"><img class="img-circle" src="people/{{ person.uid }}_thumb.jpg" width="50" height="50" alt="{{ person.full_name }}"></a>
                {% endif %}
            {% endfor %}
            {% for person in event.people.all %}
                {% if person.image == None %}
                <a href="#person_{{ person.uid }}"><img class="img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}" width="50" height="50" alt="{{ person.full_name }}"></a>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="timeline-footer">
                <a class="btn btn-primary btn-xs eventlink" href="#event_{{ event.pk }}">Read more</a>
            </div>
        </div>
    </li>
    <!-- END timeline item -->
    
    {% endfor %}
    
    <ul class="timeline timeline-inverse" id="imouto-timeline">
        <li>
            <i class="fa fa-clock-o bg-gray" id="next-load" data-next="{{ data.next }}"></i>
        </li>
    </ul>


