{% load static %}

<!-- timeline time label -->

    <li class="time-label">
        <span class="bg-blue">{{ data.label }}</span>
    </li>

<!-- /.timeline-label -->
    
    {% for event in data.events %}

    {% if event.photos > 0 or event.caption != 'Home' or event.type != 'loc_prox' %}
    
    <!-- timeline item -->
    <li id="li_event_{{ event.pk }}">

        {% if event.type == 'journey' %}<i class="fa fa-road bg-green"></i>{% endif %}
        {% if event.type == 'photo' %}<i class="fa fa-camera bg-orange"></i>{% endif %}
        {% if event.type == 'loc_prox' %}<i class="fa fa-map-marker bg-blue"></i>{% endif %}
        {% if event.type == 'event' %}<i class="fa fa-calendar bg-white"></i>{% endif %}
        {% if event.type == 'sleepover' %}<i class="fa fa-moon-o bg-black"></i>{% endif %}
        
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{ event.start_time|date:"g:ia" }}</span>
            
            <h3 class="timeline-header no-border">{{ event }}</h3>
            <div class="timeline-body">
            {% if event.geo == '' %}
                {% if event.location %}
                    {% if event.location.image %}
                        <img class="img-circle" src="places/{{ event.location.uid }}_thumb.jpg">
                    {% endif %}
                {% endif %}
            {% else %}
                <div id="map{{ event.pk }}" class="eventmap" data-geojson="{{ event.geo }}"></div>
            {% endif %}
            <div class="timeline-gallery">
                {% for photo in event.photos %}{% if forloop.counter <= 5 %}<img src="photo/{{ photo.pk }}_thumb.jpg" width="100" height="100">{% endif %}{% endfor %}
            </div>
            {% if event.description != '' %}<p>{{ event.description }}</p>{% endif %}
            {% if event.people.count > 0 %}
            <div class="timeline-people-row">
            {% for person in event.people.all %}
                {% if person.image %}
                <a href="#person_{{ person.uid }}"><img class="img-circle" src="people/{{ person.uid }}_thumb.jpg" width="50" height="50" alt="{{ person.full_name }}"></a>
                {% endif %}
            {% endfor %}
            {% for person in event.people.all %}
                {% if person.image == None %}
                <a href="#person_{{ person.uid }}"><img class="img-circle" src="{% static "viewer/graphics/unknown_person.jpg" %}" width="50" height="50" alt="{{ person.full_name }}"></a>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="timeline-footer">
                <a class="btn btn-primary btn-xs eventlink" href="#event_{{ event.pk }}">Read more</a>
                <a class="btn btn-secondary btn-xs eventedit" href="#" data-event-id="{{ event.pk }}" data-event-label="{{ event.caption }}" data-event-description="{{ event.description }}">Quick Edit</a>
                <a class="btn btn-danger btn-xs eventdelete" href="#" data-event-id="{{ event.pk }}">Delete</a>
            </div>
        </div>
    </li>
    <!-- END timeline item -->

    {% else %}
    
        {% if event.health.sleep != None %}

        <li>
            <div class="timeline-item">
                <div class="timeline-body">

                    <div class="progress-group">
                        <span class="progress-text">Sleep</span>
                        <div class="progress sleep-bar">
                    
{% for bar in event.health.sleep %}

                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ bar.2 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar.2 }}%; background-color: {% if bar.0 == 0 %}rgba(0, 0, 0, 0){% endif %}{% if bar.0 == 1 %}#ABC1D8{% endif %}{% if bar.0 == 2 %}#3C8DBC{% endif %};">
                                <span class="sr-only">0 mins</span>
                            </div>

{% endfor %}

                        </div>
                    </div>
             
                </div>
                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs eventlink" href="#event_{{ event.pk }}">Read more</a>
                </div>
            </div>
        </li>
                
        {% endif %}
        
    {% endif %}
    {% endfor %}
    
    <ul class="timeline timeline-inverse" id="imouto-timeline">
        <li>
            <i class="fa fa-clock-o bg-gray" id="next-load" data-next="{{ data.next }}"></i>
        </li>
    </ul>


